<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kpdf_part" version="7">
<MenuBar>
  <Menu name="edit"><text>&amp;Edit</text>
    <Action name="find"/>
    <Action name="find_next"/>
  </Menu>
  <Menu name="view"><text>&amp;View</text>
    <Action name="fit_to_width"/>
    <Separator/>
    <Action name="zoom_in"/>
    <Action name="zoom_out"/>
  </Menu>
  <Menu name="go"><text>&amp;Go</text>
    <Action name="back"/>
    <Action name="forward"/>
    <Separator/>
    <Action name="previous_page"/>
    <Action name="next_page"/>
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
    <Action name="show_scrollbars"/>
    <Action name="show_page_list"/>
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar">
  <Action name="zoom_in"/>
  <Action name="zoom_out"/>
  <Separator/>
  <Action name="previous_page"/>
  <Action name="next_page"/>
  <Action name="goToStart"/>
  <Action name="goToEnd"/>
</ToolBar>
</kpartgui>
