<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kpdf_shell" version="2">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <DefineGroup name="file_save" append="save_merge"/>
    <DefineGroup name="file_print" append="print_merge"/>
  </Menu>
</MenuBar>
</kpartgui>
