[Desktop Entry]
Encoding=UTF-8
MimeType=application/pdf
Terminal=false
Name=KPDF
Name[ar]=برنامج KPDF
Name[hi]=के-पीडीएफ
Name[xx]=xxKPDFxx
GenericName=PDF Viewer
GenericName[ar]=عارض ملفات PDF
GenericName[az]=PDF Nümayişçisi
GenericName[bg]=Преглед на документи PDF
GenericName[br]=Gweler PDF
GenericName[bs]=Preglednik PDF dokumenata
GenericName[ca]=Visualitzador de PDF
GenericName[cs]=Prohlížeč PDF souborů
GenericName[cy]=Gwelydd PDF
GenericName[da]=PDF-fremviser
GenericName[de]=PDF-Betrachter
GenericName[el]=Προβολέας PDF
GenericName[eo]=PDF-rigardilo
GenericName[es]=Visor de PDF
GenericName[et]=PDF failide vaataja
GenericName[fa]=نمایشگر PDF
GenericName[fi]=PDF-näyttäjä
GenericName[fr]=Afficheur PDF
GenericName[gl]=Visor PDF
GenericName[he]=מציג PDF
GenericName[hi]=पीडीएफ प्रदर्शक
GenericName[hr]=Preglednik PDF dokumenata
GenericName[hu]=PDF-nézegető
GenericName[id]=Viewer PDF
GenericName[is]=PDF sjá
GenericName[it]=Visore PDF
GenericName[ja]=PDFビューア
GenericName[lo]=ສະແດງຜົນPDF
GenericName[lt]=PDF Žiūriklis
GenericName[lv]=PDF Skatītājs
GenericName[mk]=Прикажувач на PDF датотеки
GenericName[mt]=Werrej PDF
GenericName[nb]=PDF-fremviser
GenericName[nl]=PDF-weergaveprogramma
GenericName[nn]=PDF-lesar
GenericName[oc]=Visualisor PDF
GenericName[pl]=Przeglądarka plików PDF
GenericName[pt]=Visualizador de PDFs
GenericName[pt_BR]=Visualizador de arquivos PDF
GenericName[ro]=Vizualizor PDF
GenericName[ru]=Чтение документов PDF
GenericName[sk]=Prehliadač PDF
GenericName[sl]=Pregledovalnik datotek PDF
GenericName[sr]=PDF приказивач
GenericName[sr@Latn]=PDF prikazivač
GenericName[ss]=Sibuki se PDF 
GenericName[sv]=PDF-visare
GenericName[ta]=PS/PDF காட்சி
GenericName[tg]=Хондани санадоти PDF
GenericName[th]=ตัวแสดงผล PDF
GenericName[tr]=PDF Görüntüleyici
GenericName[uk]=Переглядач PDF
GenericName[uz]=PDF кўрувчи
GenericName[ven]=Tshivhoni tsha PDF
GenericName[xh]=Umboniseli we PDF
GenericName[xx]=xxPDF Viewerxx
GenericName[zh_CN]=PDF 查看器
GenericName[zu]=Umboniseli we PDF
Exec=kpdf %i %m -caption "%c"
Icon=kpdf
Type=Application
DocPath=kpdf/index.html
InitialPreference=4

