[Desktop Entry]
Encoding=UTF-8
MimeType=application/pdf
Terminal=0
Name=KPDF
Name[xx]=xxKPDFxx
GenericName=PDF Viewer
Exec=kpdf %i %m -caption "%c"
Icon=kpdf
Type=Application
DocPath=kpdf/kpdf.html
InitialPreference=4
Categories=Qt;KDE;Graphics;PDFViewer

