[Desktop Entry]
Encoding=UTF-8
Name=KPDFPart
Name[sv]=KPDF-del
MimeType=application/pdf
InitialPreference=4
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libkpdfpart
Type=Service
