<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kpdf_shell" version="4">
<MenuBar>
  <Menu name="file">
    <DefineGroup name="file_save" append="save_merge"/>
    <DefineGroup name="file_print" append="print_merge"/>
  </Menu>
  <Menu name="view">
    <Action name="fullscreen"/>
  </Menu>
  <Menu name="settings">
    <Action name="showmenubar"/>
  </Menu>
  <Merge/>
</MenuBar>
</kpartgui>
