[Desktop Entry]
Encoding=UTF-8
Name=KPDF
Name[es]=
Name[xx]=xx
Exec=kpdf %i %m -caption "%c"
Icon=kpdf
Type=Application
DocPath=kpdf/kpdf.html
MimeType=application/pdf
InitialPreference=4
GenericName=A KDE KPart Application
GenericName[az]=KDE Kpart Proqramı
GenericName[bg]=Приложение KPart KDE
GenericName[bs]=KDE KPart aplikacija
GenericName[cs]=Aplikace typu KPart
GenericName[da]=Et KDE KPart-program
GenericName[de]=Ein KDE-Programm
GenericName[el]=Μια εφαρμογή KDE KPart
GenericName[es]=Una aplicación KPart para KDE
GenericName[et]=KDE KPart rakendus
GenericName[eu]=KDEren KPart Aplikazioa
GenericName[fi]=KDE KPart sovellus
GenericName[fr]=Composant KParts pour KDE
GenericName[he]=יישום KPart של KDE
GenericName[hr]=KDE aplikacijska komponenta
GenericName[hu]=Egy KDE KPart tesztalkalmazás
GenericName[id]=Aplikasi KPart KDE
GenericName[is]=KDE KPart forrit
GenericName[it]=Un'applicazione KPart di KDE
GenericName[ja]=KDE KPart アプリケーション
GenericName[ko]=KDE용 KPart 응용 프로그램
GenericName[lt]=KDE KPart programa
GenericName[lv]=KDE KPart Aplikācija
GenericName[mt]=Programm KDE KPart
GenericName[nb]=En KDE KPart-applikasjon
GenericName[nl]=een KDE KPart-applicatie
GenericName[nn]=Eit KDE KPart-program
GenericName[pl]=Aplikacja składnika KDE
GenericName[pt]=Aplicação KPart
GenericName[pt_BR]=Uma aplicação KPart do KDE
GenericName[ro]=O componentă de aplicaţie KDE
GenericName[ru]=Приложение KPart KDE
GenericName[sk]=KDE KPart aplikácia
GenericName[sl]=Program za KDE KPart
GenericName[sr]=KDE KPart aplikacija
GenericName[sv]=Delprogram för KDE (Kpart)
GenericName[ta]=´Õ KDE KPart ¿¢Ãø
GenericName[th]=แอพพลิเคชัน KDE KPart
GenericName[tr]=KDE Kpart Uygulaması
GenericName[uk]=Програма KPart для KDE
GenericName[vi]=Một chương trình KPart của KDE 
GenericName[xh]=Iqela lesicelo se K ye KDE
GenericName[xx]=xx
GenericName[zh_CN]=KDE KPart 应用程序
GenericName[zh_TW]=KDE KPart 應用程式
GenericName[zu]=Iqela lesicelo se K ye KDE
Terminal=0
