<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kpdf_part" version="1">
<MenuBar>
  <Menu name="file">
    <Action name="file_open"/>
    <Separator/>
    <Action name="file_save_as"/>
    <Separator/>
    <Action name="file_print"/>
  </Menu>
  <Menu name="view">
    <Action name="fit_width"/>
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar">
  <Action name="file_open"/>
  <Action name="file_print"/>
  <Action name="previous_page"/>
  <Action name="next_page"/>
  <Separator/>
</ToolBar>
</kpartgui>
