[Desktop Entry]
Type=Service
Name=djvu
Name[hi]=डीजेवीयू
Name[th]=เอกสาร djvu
Name[x-test]=xxdjvuxx
Comment=DjVu backend for Okular
Comment[el]=Σύστημα υποστήριξης DjVu για το Okular
Comment[es]=Motor DjVu para Okular
Comment[ga]=Inneall DjVu le haghaidh Okular
Comment[ja]=Okular の DjVu バックエンド
Comment[km]=ផ្នែក​ខាង​ក្រោយ DjVu សម្រាប់ Okular
Comment[nds]=DjVu-Hülpprogramm för Okular
Comment[pt]=Infra-estrutura do DjVu para o Okular
Comment[pt_BR]=Backend DjVu para Okular
Comment[th]=แบ็คเอนต์เอกสาร DjVu สำหรับ Okular
Comment[tr]=Okular için DjVu arka ucu
Comment[uk]=Втулка DjVu для Okular
Comment[zh_CN]=Okular 的 Djvu 格式后端
Comment[zh_TW]=Okular 的 DjVu 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=image/vnd.djvu;
X-KDE-Library=okularGenerator_djvu
X-KDE-Priority=2
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
