[Desktop Entry]
Type=Service
Name=djvu
Name[fr]=DjVu
Name[hi]=डीजेवीयू
Name[hne]=डीजेवीयू
Name[hu]=DjVu
Name[sr]=ДјВу
Name[sr@latin]=DjVu
Name[th]=เอกสาร djvu
Name[x-test]=xxdjvuxx
Comment=DjVu backend for Okular
Comment[ar]=المنتهى الخلفي DjVu لأوكلار
Comment[ca]=Dorsal de DjVu per a l'Okular
Comment[da]=DjVu-motor til Okular
Comment[de]=Anzeigemodul für DjVu in Okular
Comment[el]=Σύστημα υποστήριξης DjVu για το Okular
Comment[es]=Motor DjVu para Okular
Comment[et]=Okulari DjVu taustaprogramm
Comment[eu]=Okular-en DjVu motorra
Comment[fi]=DjVu-taustaosa Okular-lukijalle
Comment[fr]=Interface d'Okular pour DjVu
Comment[ga]=Inneall DjVu le haghaidh Okular
Comment[gl]=Infraestrutura de DjVu para Okular
Comment[hne]=ओकुलर बर डीजेवीयू बैकएन्ड
Comment[hu]=DjVu-bővítmény az Okularhoz
Comment[is]=DjVu stuðningur fyrir Okular
Comment[it]=Backend DjVu per Okular
Comment[ja]=Okular の DjVu バックエンド
Comment[km]=ផ្នែក​ខាង​ក្រោយ DjVu សម្រាប់ Okular
Comment[ko]=Okular의 DjVu 백엔드
Comment[ku]=Binesazî ya DjVu ji bo Okular
Comment[lt]=DjVu programinė sąsaja, skirta Okular
Comment[lv]=DjVu Okular aizmugure
Comment[nb]=DjVu-motor for Okular
Comment[nds]=DjVu-Hülpprogramm för Okular
Comment[nl]=DjVu-backend voor Okular
Comment[nn]=DjVu-motor for Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ DjVu ਬੈਕਐਂਡ
Comment[pl]=Obsługa DjVu dla Okulara
Comment[pt]=Infra-estrutura do DjVu para o Okular
Comment[pt_BR]=Infraestrutura DjVu para o Okular
Comment[ro]=Platformă DjVu pentru Okular
Comment[ru]=Модуль поддержки формата DjVu для Okular
Comment[sl]=Hrbtenica za DjVu za Okular
Comment[sr]=Позадина ДјВуа за Окулар
Comment[sr@latin]=Pozadina DjVua za Okular
Comment[sv]=DjVu-gränssnitt för Okular
Comment[th]=แบ็คเอนต์เอกสาร DjVu สำหรับ Okular
Comment[tr]=Okular için DjVu arka ucu
Comment[uk]=Втулка DjVu для Okular
Comment[x-test]=xxDjVu backend for Okularxx
Comment[zh_CN]=Okular 的 Djvu 格式后端
Comment[zh_TW]=Okular 的 DjVu 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=image/vnd.djvu;
X-KDE-Library=okularGenerator_djvu
X-KDE-Priority=2
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
