[Desktop Entry]
Type=Service
Name=djvu
Name[ar]=djvu
Name[ast]=djvu
Name[bg]=djvu
Name[bs]=djvu
Name[ca]=djvu
Name[ca@valencia]=djvu
Name[cs]=djvu
Name[da]=djvu
Name[de]=djvu
Name[el]=djvu
Name[en_GB]=djvu
Name[eo]=djvu
Name[es]=djvu
Name[et]=djvu
Name[eu]=djvu
Name[fi]=djvu
Name[fr]=DjVu
Name[ga]=djvu
Name[gl]=djvu
Name[hi]=डीजेवीयू
Name[hne]=डीजेवीयू
Name[hr]=djvu
Name[hu]=DjVu
Name[ia]=djvu
Name[is]=djvu
Name[it]=djvu
Name[ja]=djvu
Name[kk]=djvu
Name[km]=djvu
Name[ko]=djvu
Name[ku]=djvu
Name[lt]=djvu
Name[lv]=djvu
Name[mr]=djvu
Name[nb]=djvu
Name[nds]=djvu
Name[ne]=djvu
Name[nl]=djvu
Name[nn]=djvu
Name[pa]=djvu
Name[pl]=djvu
Name[pt]=djvu
Name[pt_BR]=djvu
Name[ro]=djvu
Name[ru]=djvu
Name[si]=djvu
Name[sk]=djvu
Name[sl]=djvu
Name[sq]=djvu
Name[sr]=ДјВу
Name[sr@ijekavian]=ДјВу
Name[sr@ijekavianlatin]=DjVu
Name[sr@latin]=DjVu
Name[sv]=djvu
Name[th]=เอกสาร djvu
Name[tr]=djvu
Name[ug]=djvu
Name[uk]=djvu
Name[vi]=djvu
Name[x-test]=xxdjvuxx
Name[zh_CN]=djvu
Name[zh_TW]=djvu
Comment=DjVu backend for Okular
Comment[ar]=المنتهى الخلفي DjVu لأوكلار
Comment[ast]=Motor DjVu pa Okular
Comment[bg]=Ядро на Okular за DjVu
Comment[bs]=Pozadina DјVu-a za Okular
Comment[ca]=Dorsal de DjVu per a l'Okular
Comment[ca@valencia]=Dorsal de DjVu per a l'Okular
Comment[cs]=Implementace DjVU pro Okular
Comment[da]=DjVu-motor til Okular
Comment[de]=Anzeigemodul für DjVu in Okular
Comment[el]=Σύστημα υποστήριξης DjVu για το Okular
Comment[en_GB]=DjVu backend for Okular
Comment[es]=Motor DjVu para Okular
Comment[et]=Okulari DjVu taustaprogramm
Comment[eu]=Okular-en DjVu motorra
Comment[fi]=DjVu-taustaosa Okularille
Comment[fr]=Moteur « DjVu » pour Okular
Comment[ga]=Inneall DjVu le haghaidh Okular
Comment[gl]=Infraestrutura de DjVu para Okular
Comment[hne]=ओकुलर बर डीजेवीयू बैकएन्ड
Comment[hr]=Podrška za DjVu za Okular
Comment[hu]=DjVu-bővítmény az Okularhoz
Comment[ia]=Retro-administration per DjVu  pro Okular
Comment[is]=DjVu stuðningur fyrir Okular
Comment[it]=Backend DjVu per Okular
Comment[ja]=Okular の DjVu バックエンド
Comment[kk]=Okular-дың DjVu тетігі
Comment[km]=ផ្នែក​ខាង​ក្រោយ DjVu សម្រាប់ Okular
Comment[ko]=Okular의 DjVu 백엔드
Comment[ku]=Binesazî ya DjVu ji bo Okular
Comment[lt]=DjVu programinė sąsaja, skirta Okular
Comment[lv]=DjVu Okular aizmugure
Comment[mr]=ओक्युलर करिता DjVu बॅकएन्ड
Comment[nb]=DjVu-motor for Okular
Comment[nds]=DjVu-Hülpprogramm för Okular
Comment[nl]=DjVu-backend voor Okular
Comment[nn]=DjVu-motor for Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ DjVu ਬੈਕਐਂਡ
Comment[pl]=Obsługa DjVu dla Okulara
Comment[pt]=Infra-estrutura do DjVu para o Okular
Comment[pt_BR]=Infraestrutura DjVu para o Okular
Comment[ro]=Platformă DjVu pentru Okular
Comment[ru]=Модуль поддержки формата DjVu для Okular
Comment[sk]=Backend DjVu pre Okular
Comment[sl]=Zaledje DjVu za Okular
Comment[sq]=Mbështetje për DjVu në Okular
Comment[sr]=Позадина ДјВуа за Окулар
Comment[sr@ijekavian]=Позадина ДјВуа за Окулар
Comment[sr@ijekavianlatin]=Pozadina DjVua za Okular
Comment[sr@latin]=Pozadina DjVua za Okular
Comment[sv]=DjVu-gränssnitt för Okular
Comment[th]=แบ็กเอนด์เอกสาร DjVu สำหรับโอกูลาร์
Comment[tr]=Okular için DjVu arka ucu
Comment[uk]=Додаток DjVu для Okular
Comment[x-test]=xxDjVu backend for Okularxx
Comment[zh_CN]=Okular 的 Djvu 格式后端
Comment[zh_TW]=Okular 的 DjVu 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=image/vnd.djvu;
X-KDE-Library=okularGenerator_djvu
X-KDE-Priority=2
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
