[Desktop Entry]
Encoding=UTF-8
Icon=okular
Name=okular
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libokularpart
Type=Service
MimeType=image/vnd.djvu
