[Desktop Entry]
Type=Service
Name=KDE Image libraries
Name[bg]=Библиотеки с галерии
Name[ca]=Biblioteques d'imatges del KDE
Name[de]=KDE-Bilder-Bibliotheken
Name[el]=Βιβλιοθήκες εικόνων του KDE
Name[eo]=KDE bildaj bibliotekoj
Name[es]=Bibliotecas de imágenes de KDE
Name[et]=KDE pilditeegid
Name[fa]=کتابخانه‌های تصویر KDE
Name[fi]=KDE:n kuvakirjastot
Name[fr]=Librairie d'images de KDE
Name[ga]=Leabharlanna íomhánna KDE
Name[gl]=Bibliotecas de KDE para imaxes
Name[hi]=केडीई छवि लाइब्रेरीज
Name[is]=Myndmeðhöndlunarforrit KDE
Name[it]=Librerie KDE per la visione di immagini
Name[ja]=KDE 画像ライブラリ
Name[km]=បណ្ណាល័យ​រូបភាព​របស់ KDE
Name[ko]=KDE 이미지 라이브러리
Name[lv]=KDE attēlu bibliotēkas
Name[nds]=Bildkieker-Bibliotheken för KDE
Name[ne]=केडीई छवि लाइब्रेरी
Name[nl]=KDE Afbeeldingsbibliotheken
Name[pa]=KDE ਚਿੱਤਰ ਲਾਇਬਰੇਰੀਆਂ
Name[pl]=Biblioteki KDE do obsługi obrazków
Name[pt]=Bibliotecas de imagens do KDE
Name[pt_BR]=Biblioteca de Imagens do KDE
Name[sl]=KDE-jeve knjižnice za slike
Name[sv]=KDE-bildbibliotek
Name[uk]=Бібліотеки зображень KDE
Name[vi]=Các thư viện ảnh của KDE
Name[x-test]=xxKDE Image librariesxx
Name[zh_CN]=KDE 图像库
Name[zh_TW]=KDE 影像函式庫
Comment=Image backend for Okular
Comment[el]=Σύστημα υποστήριξης εικόνων για το Okular
Comment[ga]=Inneall íomhánna le haghaidh Okular
Comment[nds]=Bild-Hülpprogramm för Okular
Comment[pt_BR]=Backend de Imagens para Okular
Comment[zh_TW]=Okular 影像後端
X-KDE-ServiceTypes=okular/Generator
MimeType=image/bmp;image/x-dds;image/x-eps;image/x-exr;image/gif;image/x-hdr;image/x-ico;image/jpeg2000;image/jpeg;video/x-mng;image/x-portable-bitmap;image/x-pcx;image/x-portable-graymap;image/png;image/x-portable-pixmap;image/x-psd;image/x-rgb;image/x-tga;image/tiff;image/x-xbitmap;image/x-xcf;image/x-xpixmap;
X-KDE-Library=okularGenerator_kimgio
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
