[Desktop Entry]
Type=Service
Name=KDE Image libraries
Name[bg]=Библиотеки с галерии
Name[ca]=Biblioteques d'imatges del KDE
Name[de]=KDE-Bilder-Bibliotheken
Name[el]=Βιβλιοθήκες εικόνων του KDE
Name[eo]=KDE bildaj bibliotekoj
Name[es]=Bibliotecas de imágenes de KDE
Name[et]=KDE pilditeegid
Name[fa]=کتابخانه‌های تصویر KDE
Name[gl]=Bibliotecas de KDE para imaxes
Name[is]=Myndmeðhöndlunarforrit KDE
Name[ja]=KDE 画像ライブラリ
Name[ko]=KDE 이미지 라이브러리
Name[lv]=KDE bilžu bibliotēka
Name[nds]=Bildkieker-Bibliotheken för KDE
Name[ne]=केडीई छवि लाइब्रेरी
Name[nl]=KDE Afbeeldingsbibliotheken
Name[pa]=KDE ਚਿੱਤਰ ਲਾਇਬਰੇਰੀਆਂ
Name[pl]=Biblioteki KDE do obsługi obrazków
Name[pt]=Bibliotecas de imagens do KDE
Name[pt_BR]=Bibliotecas de imagens do KDE
Name[sv]=KDE-bildbibliotek
Name[x-test]=xxKDE Image librariesxx
Name[zh_CN]=KDE 图像库
Name[zh_TW]=KDE 影像函式庫
Comment=Image backend for okular
Comment[bg]=Image backend за okular
Comment[ca]=Dorsal d'imatges per l'okular
Comment[de]=Unterstützung für Bilder in Okular
Comment[el]=Σύστημα υποστήριξης εικόνων για το okular
Comment[eo]=Bilda interno por okular
Comment[es]=Motor de imágenes para Okular
Comment[et]=Okulari piltide taustaprogramm
Comment[gl]=Infraestrutura de imaxes para okular
Comment[is]=Myndmeðhöndlunarstuðningur fyrir Okular
Comment[ja]=okular の画像バックエンド
Comment[ko]=okular의 이미지 백엔드
Comment[lv]=Attēlu aizmugure priekš okular
Comment[nds]=Bild-Hülpprogramm för Okular
Comment[ne]=ओकुलरका लागि छवि ब्याकइन्ड
Comment[nl]=Afbeeldingsbackend voor Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ ਚਿੱਤਰ ਬੈਕਐਂਡ
Comment[pl]=Obsługa obrazków dla okulara
Comment[pt]=Infra-estrutura de imagens para o okular
Comment[pt_BR]=Infra-estrutura de imagens para o okular
Comment[sv]=Bildgränssnitt för Okular
Comment[x-test]=xxImage backend for okularxx
Comment[zh_CN]=okular 的图像格式后端
Comment[zh_TW]=okular 影像後端
X-KDE-ServiceTypes=okular/Generator
MimeType=image/bmp;image/x-dds;image/x-eps;image/x-exr;image/gif;image/x-hdr;image/x-ico;image/jpeg2000;image/jpeg;video/x-mng;image/x-portable-bitmap;image/x-pcx;image/x-portable-graymap;image/png;image/x-portable-pixmap;image/x-psd;image/x-rgb;image/x-tga;image/tiff;image/x-xbitmap;image/x-xcf;image/x-xpixmap;
X-KDE-Library=okularGenerator_kimgio
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
