[Desktop Entry]
Icon=graphics-viewer-document
Name=okular
Name[de]=Okular
Name[es]=Okular
Name[hi]=ऑकुलर
Name[nds]=Okular
Name[ne]=ओकुलर
Name[nl]=Okular
Name[nn]=Okular
Name[pa]=ਓਕੁਲਾਰ
Name[pt_BR]=Okular
Name[sv]=Okular
Name[x-test]=xxokularxx
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=okularpart
Type=Service
MimeType=image/bmp;image/x-dds;image/x-eps;image/x-exr;image/gif;image/x-hdr;image/x-ico;image/jpeg2000;image/jpeg;video/x-mng;image/x-portable-bitmap;image/x-pcx;image/x-portable-graymap;image/png;image/x-portable-pixmap;image/x-psd;image/x-rgb;image/x-tga;image/tiff;image/x-xbitmap;image/x-xcf;image/x-xpixmap;
