[Desktop Entry]
Encoding=UTF-8
MimeType=image/bmp;image/x-dds;image/x-eps;image/x-exr;image/gif;image/x-hdr;image/x-ico;image/jpeg2000;image/jpeg;video/x-mng;image/x-portable-bitmap;image/x-pcx;image/x-portable-graymap;image/png;image/x-portable-pixmap;image/x-psd;image/x-rgb;image/x-tga;image/tiff;image/x-xbitmap;image/x-xcf;image/x-xpixmap;
Terminal=false
Name=okular
Name[pa]=ਓਕੁਲਾਰ
GenericName=Document Viewer
GenericName[el]=Προβολέας εγγράφων
GenericName[es]=Visor de documentos
GenericName[pa]=ਦਸਤਾਵੇਜ਼ ਦਰਸ਼ਕ
GenericName[sv]=Dokumentvisare
GenericName[x-test]=xxDocument Viewerxx
Exec=okular %U %i -caption "%c"
Icon=okular
Type=Application
DocPath=okular/index.html
InitialPreference=7
Categories=Qt;KDE;Graphics;Viewer;
NoDisplay=true
