[Desktop Entry]
Encoding=UTF-8
Icon=okular
Name=okular
Name[de]=Okular
Name[es]=Okular
Name[ne]=ओकुलर
Name[nl]=Okular
Name[pa]=ਓਕੁਲਾਰ
Name[sv]=Okular
Name[x-test]=xxokularxx
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libokularpart
Type=Service
MimeType=image/bmp;image/x-dds;image/x-eps;image/x-exr;image/gif;image/x-hdr;image/x-ico;image/jpeg2000;image/jpeg;video/x-mng;image/x-portable-bitmap;image/x-pcx;image/x-portable-graymap;image/png;image/x-portable-pixmap;image/x-psd;image/x-rgb;image/x-tga;image/tiff;image/x-xbitmap;image/x-xcf;image/x-xpixmap;
