[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Plucker document
Name[bg]=Plucker документ
Name[ca]=Document Plucker
Name[de]=Plucker-Dokument
Name[el]=Έγγραφο Plucker
Name[es]=Documento Plucker
Name[ga]=Cáipéis Plucker
Name[ja]=Plucker 文書
Name[nl]=Plucker-document
Name[pa]=ਪਲੱਕਰ ਦਸਤਾਵੇਜ਼
Name[pt]=Documento do Plucker
Name[pt_BR]=Documento do Plucker
Name[sv]=Plucker-dokument
Name[x-test]=xxPlucker documentxx
Name[zh_TW]=Plucker 文件
Comment=Plucker backend for okular
Comment[bg]=Plucker backend за okular
Comment[ca]=Dorsal de Plucker per l'okular
Comment[de]=Unterstützung für Plucker in Okular
Comment[el]=Σύστημα υποστήριξης Plucker για το okular
Comment[es]=Motor Plucker para Okular
Comment[ja]=okular の Plucker バックエンド
Comment[nl]=Plucker-backend voor Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ ਪਲੱਕਰ ਬੈਕਐਂਡ
Comment[pt]=Infra-estrutura do Plucker para o okular
Comment[pt_BR]=Infra-estrutura do Plucker para o okular
Comment[sv]=Plucker-gränssnitt för Okular
Comment[x-test]=xxPlucker backend for okularxx
Comment[zh_TW]=okular 的 Plucker 後端
ServiceTypes=okular/Generator
MimeType=application/prs.plucker
X-KDE-Library=libokularGenerator_plucker
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
