[Desktop Entry]
Type=Service
Name=Plucker document
Name[bg]=Plucker документ
Name[ca]=Document Plucker
Name[de]=Plucker-Dokument
Name[el]=Έγγραφο Plucker
Name[eo]=Plucker dokumento
Name[es]=Documento Plucker
Name[et]=Pluckeri dokument
Name[fi]=Plucker-asiakirja
Name[fr]=Document Plucker
Name[ga]=Cáipéis Plucker
Name[gl]=Documento Plucker
Name[hi]=प्लकर दस्तावेज़
Name[is]=Plucker skjal
Name[it]=Documento Plucker
Name[ja]=Plucker 文書
Name[km]=ឯកសារ​ Plucker
Name[ko]=Plucker 문서
Name[lv]=Plucker dokuments
Name[nds]=Plucker-Dokment
Name[ne]=प्लकर कागजात
Name[nl]=Plucker-document
Name[pa]=ਪਲੱਕਰ ਡੌਕੂਮੈਂਟ
Name[pl]=Dokument Pluckera
Name[pt]=Documento do Plucker
Name[pt_BR]=Documento Plucker
Name[sl]=Dokument Plucker
Name[sv]=Plucker-dokument
Name[uk]=Документ Plucker
Name[vi]=Tập tin Plucker
Name[x-test]=xxPlucker documentxx
Name[zh_CN]=Plucker 文档
Name[zh_TW]=Plucker 文件
Comment=Plucker backend for Okular
Comment[el]=Σύστημα υποστήριξης Plucker για το Okular
Comment[ga]=Inneall Plucker le haghaidh Okular
Comment[pt_BR]=Backend Plucker para Okular
Comment[zh_TW]=Okular 的 Plucker 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=application/prs.plucker;
X-KDE-Library=okularGenerator_plucker
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
