[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Plucker document
Comment=Plucker backend for okular
ServiceTypes=okular/Generator
MimeType=application/prs.plucker
X-KDE-Library=libokularGenerator_plucker
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
