[Desktop Entry]
Encoding=UTF-8
Icon=okular
Name=okular
Name[pa]=ਓਕੁਲਾਰ
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libokularpart
Type=Service
MimeType=application/prs.plucker
