[Desktop Entry]
Encoding=UTF-8
MimeType=application/pdf
Terminal=false
Name=KPDF
Name[x-test]=xxKPDFxx
GenericName=PDF Viewer
GenericName[fr]=Afficheur PDF
GenericName[x-test]=xxPDF Viewerxx
Exec=kpdf %U -caption "%c"
Icon=kpdf
Type=Application
DocPath=kpdf/index.html
InitialPreference=7
Categories=Qt;KDE;Graphics;PDFViewer;

