[Desktop Entry]
MimeType=application/pdf;
Terminal=false
Name=KPDF
Name[ar]=برنامج KPDF
Name[hi]=के-पीडीएफ
Name[zh_TW]=KPDF 檢視器
GenericName=PDF Viewer
GenericName[ar]=عارض ملفات PDF
GenericName[az]=PDF Nümayişçisi
GenericName[bg]=Преглед на документи PDF
GenericName[br]=Gweler PDF
GenericName[bs]=Preglednik PDF dokumenata
GenericName[ca]=Visualitzador de PDF
GenericName[cs]=Prohlížeč PDF souborů
GenericName[cy]=Gwelydd PDF
GenericName[da]=PDF-fremviser
GenericName[de]=PDF-Betrachter
GenericName[el]=Προβολέας PDF
GenericName[eo]=PDF-rigardilo
GenericName[es]=Visor de PDF
GenericName[et]=PDF-failide näitaja
GenericName[eu]=PDF ikustailua
GenericName[fa]=مشاهده‌گر PDF
GenericName[fi]=PDF-näytin
GenericName[fr]=Afficheur PDF
GenericName[ga]=Amharcán PDF
GenericName[gl]=Visor PDF
GenericName[he]=מציג PDF
GenericName[hi]=पीडीएफ प्रदर्शक
GenericName[hr]=Preglednik PDF dokumenata
GenericName[hu]=PDF-nézegető
GenericName[id]=Viewer PDF
GenericName[is]=PDF sjá
GenericName[it]=Visore PDF
GenericName[ja]=PDF ビューア
GenericName[kk]=PDF файлдарын қарау
GenericName[km]=កម្មវិធី​មើល PDF
GenericName[lt]=PDF Žiūriklis
GenericName[lv]=PDF Skatītājs
GenericName[mk]=Прикажувач на PDF датотеки
GenericName[ms]=Pemapar PDF
GenericName[mt]=Werrej PDF
GenericName[nb]=PDF-fremviser
GenericName[nds]=PDF-Kieker
GenericName[ne]=PDF दर्शक
GenericName[nl]=PDF-weergaveprogramma
GenericName[nn]=PDF-lesar
GenericName[pa]=PDF ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka plików PDF
GenericName[pt]=Visualizador de PDFs
GenericName[pt_BR]=Visualizador de arquivos PDF
GenericName[ro]=Vizualizor PDF
GenericName[ru]=Просмотр PDF
GenericName[rw]=Mugaragaza PDF
GenericName[se]=PDF-čájeheaddji
GenericName[sk]=Prehliadač PDF
GenericName[sl]=Pregledovalnik datotek PDF
GenericName[sr]=PDF приказивач
GenericName[sr@Latn]=PDF prikazivač
GenericName[sv]=PDF-visare
GenericName[ta]=PS/PDF காட்சி
GenericName[tg]=Хондани санадоти PDF
GenericName[th]=ตัวแสดงผล PDF
GenericName[tr]=PDF Görüntüleyici
GenericName[uk]=Переглядач PDF
GenericName[uz]=PDF koʻruvchi
GenericName[uz@cyrillic]=PDF кўрувчи
GenericName[ven]=Tshivhoni tsha PDF
GenericName[wa]=Håyneu di documints PDF
GenericName[xh]=Umboniseli we PDF
GenericName[zh_CN]=PDF 查看器
GenericName[zh_HK]=PDF 檢視器
GenericName[zh_TW]=PDF 檢視器
GenericName[zu]=Umboniseli we PDF
Exec=kpdf %U %i -caption "%c"
Icon=kpdf
Type=Application
DocPath=kpdf/index.html
InitialPreference=7
Categories=Qt;KDE;Graphics;Viewer;

