[Desktop Entry]
Name=Reader
Name[cs]=Čtečka
Name[es]=Lector
Name[et]=Lugeja
Name[pt]=Leitor
Name[pt_BR]=Leitor
Name[sv]=Läsprogram
Name[uk]=Переглядач
Name[x-test]=xxReaderxx
GenericName=Document viewer
GenericName[cs]=Prohlížeč dokumentů
GenericName[es]=Visor de documentos
GenericName[et]=Dokumendinäitaja
GenericName[pt]=Visualizador de documentos
GenericName[pt_BR]=Visualizador de documentos
GenericName[sv]=Dokumentvisare
GenericName[uk]=Переглядач документів
GenericName[x-test]=xxDocument viewerxx
Comment=Viewer for various types of documents
Comment[cs]=Prohlížeč různých typů dokumentů
Comment[es]=Visor de diversos tipos de documentos
Comment[et]=Eri tüüpi dokumentide näitaja
Comment[pt]=Visualizador de vários tipos de documentos
Comment[pt_BR]=Visualizador para vários tipos de documentos
Comment[sv]=Visningsprogram för diverse typer av dokument
Comment[uk]=Програма для перегляду документів різних типів
Comment[x-test]=xxViewer for various types of documentsxx

Exec=active-documentviewer %u
Terminal=false
Icon=okular
Type=Application
Categories=Qt;KDE;Graphics;Office;Viewer;
InitialPreference=7
NoDisplay=true
MimeType=application/vnd.kde.okular-archive;application/pdf;application/x-gzpdf;application/x-bzpdf;application/x-wwf;application/epub+zip;
