[Desktop Entry]
Type=Service
Name=txt
Name[bg]=txt
Name[bs]=txt
Name[ca]=txt
Name[ca@valencia]=txt
Name[cs]=txt
Name[da]=txt
Name[de]=Text
Name[el]=txt
Name[en_GB]=txt
Name[es]=txt
Name[et]=txt
Name[fi]=txt
Name[fr]=txt
Name[gl]=txt
Name[hu]=txt
Name[ia]=txt
Name[is]=txt
Name[it]=testo
Name[ja]=txt
Name[kk]=txt
Name[ko]=txt
Name[lt]=txt
Name[mr]=txt
Name[nb]=tekst
Name[nds]=TXT
Name[nl]=tekst
Name[pa]=txt
Name[pl]=txt
Name[pt]=txt
Name[pt_BR]=txt
Name[ru]=txt
Name[sk]=txt
Name[sl]=txt
Name[sr]=обични текст
Name[sr@ijekavian]=обични текст
Name[sr@ijekavianlatin]=obični tekst
Name[sr@latin]=obični tekst
Name[sv]=txt
Name[tr]=txt
Name[ug]=txt
Name[uk]=txt
Name[x-test]=xxtxtxx
Name[zh_CN]=txt
Name[zh_TW]=txt
Comment=Txt backend for Okular
Comment[bg]=Текстово ядро за Okular
Comment[bs]=Pozadina txt-a za Okular
Comment[ca]=Dorsal de txt per a l'Okular
Comment[ca@valencia]=Dorsal de txt per a l'Okular
Comment[cs]= Implementace Txt pro Okular
Comment[da]=Txt-motor til Okular
Comment[de]=Anzeigemodul für Text in Okular
Comment[el]=Σύστημα υποστήριξης txt για το Okular
Comment[en_GB]=Txt backend for Okular
Comment[es]=Motor Txt para Okular
Comment[et]=Okulari txt-i taustaprogramm
Comment[fi]=TXT-taustaosa Okularille
Comment[fr]=Moteur Txt pour Okular
Comment[gl]=Infraestrutura de Txt para Okular
Comment[hu]=Txt-bővítmény az Okularhoz
Comment[ia]=Retro-administration per Txt  pro Okular
Comment[is]=TXT stuðningur fyrir Okular
Comment[it]=Backend di testo semplice per Okular
Comment[ja]=Okular の Txt バックエンド
Comment[kk]=Okular-дың Txt тетігі
Comment[ko]=Okular의 TXT 백엔드
Comment[lt]=Txt programinė sąsaja, skirta Okular
Comment[mr]=ओक्युलर करिता Txt बॅकएन्ड
Comment[nb]=Txt-motor for Okular
Comment[nds]=TXT-Hülpprogramm för Okular
Comment[nl]=Tekst-backend voor Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ Txt ਬੈਕਐਂਡ
Comment[pl]=Obsługa Txt dla Okulara
Comment[pt]=Infra-estrutura de TXT para o Okular
Comment[pt_BR]=Infraestrutura Txt para o Okular
Comment[ru]=Модуль поддержки формата Txt для Okular
Comment[sk]=Txt backend pre Okular
Comment[sl]=Zaledje za txt za Okular
Comment[sr]=Позадина обичног текста за Окулар
Comment[sr@ijekavian]=Позадина обичног текста за Окулар
Comment[sr@ijekavianlatin]=Pozadina običnog teksta za Okular
Comment[sr@latin]=Pozadina običnog teksta za Okular
Comment[sv]=Txt-gränssnitt för Okular
Comment[tr]=Okular için txt arka ucu
Comment[uk]=Додаток текстових файлів для Okular
Comment[x-test]=xxTxt backend for Okularxx
Comment[zh_CN]=Okular 的 Txt 格式后端
Comment[zh_TW]=Okular txt 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=text/plain;
X-KDE-Library=okularGenerator_txt
X-KDE-Priority=2
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=true
