[Desktop Entry]
Type=Service
Name=txt
Name[es]=txt
Name[mr]=txt
Name[nl]=tekst
Name[pt]=txt
Name[pt_BR]=txt
Name[sk]=txt
Name[sr]=обични текст
Name[sr@ijekavian]=обични текст
Name[sr@ijekavianlatin]=obični tekst
Name[sr@latin]=obični tekst
Name[uk]=txt
Name[x-test]=xxtxtxx
Name[zh_TW]=txt
Comment=Txt backend for Okular
Comment[es]=Motor Txt para Okular
Comment[mr]=ओक्युलर करिता Txt बॅकएन्ड
Comment[nl]=Tekst-backend voor Okular
Comment[pt]=Infra-estrutura de TXT para o Okular
Comment[pt_BR]=Infraestrutura txt para o Okular
Comment[sk]=Txt backend pre Okular
Comment[sr]=Позадина обичног текста за Окулар
Comment[sr@ijekavian]=Позадина обичног текста за Окулар
Comment[sr@ijekavianlatin]=Pozadina običnog teksta za Okular
Comment[sr@latin]=Pozadina običnog teksta za Okular
Comment[uk]=Додаток текстових файлів для Okular
Comment[x-test]=xxTxt backend for Okularxx
Comment[zh_TW]=Okular txt 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=text/plain;
X-KDE-Library=okularGenerator_txt
X-KDE-Priority=2
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
