[Desktop Entry]
Type=Service
Comment=DVI
Comment[x-test]=xxDVIxx
Name=KDVIMultiPage
Name[fr]=Multi-page KDVI
Name[x-test]=xxKDVIMultiPagexx
ServiceTypes=KViewShell/MultiPage
MimeType=application/x-dvi
X-KDE-Library=kdvipart
X-KDE-MultiPageVersion=3
