[Desktop Entry]
Type=Service
Comment=DVI
Name=KDVIMultiPage
Name[es]=KDVIMultiPágina
Name[fr]=Multi-page KDVI
Name[hu]=KDVITöbbOldalas
Name[nb]=KDVI Flerside
Name[ne]=केडीभीआई बहुपृष्ठ
Name[nl]=KDVIMultiPagina
Name[nn]=KDVI-fleirside
Name[pt]=KDVIMultiPágina
Name[ro]=KDVI Pagini Multiple
Name[sv]=KDVI flera sidor
ServiceTypes=KViewShell/MultiPage
X-KDE-Library=kdvipart
X-KDE-MimeTypes=application/x-dvi
X-KDE-MultiPageVersion=2
