[Desktop Entry]
Encoding=UTF-8
GenericName=DVI Viewer
GenericName[af]=Dvi Aansig
GenericName[ar]=عرض ملفات DVI
GenericName[az]=DVI Nümayişçisi
GenericName[bg]=Преглед на DVI документи
GenericName[bs]=Preglednik DVI dokumenata
GenericName[ca]=Visor DVI
GenericName[cs]=Prohlížeč DVI souborů
GenericName[da]=DVI-fremviser
GenericName[de]=DVI-Betrachter
GenericName[el]=Προβολέας DVI
GenericName[eo]=DVI-rigardilo
GenericName[es]=Visor de documentos DVI
GenericName[et]=DVI failide vaataja
GenericName[fa]=نمایشگر DVI
GenericName[fi]=DVI-Näyttäjä
GenericName[fr]=Afficheur DVI
GenericName[gl]=Visualizador de DVI
GenericName[he]=מציג DVI
GenericName[hr]=Preglednik DVI dokumenata
GenericName[hu]=DVI-nézegető
GenericName[id]=Viewer DVI
GenericName[is]=DVI-sjá
GenericName[it]=Visualizzatore DVI
GenericName[ja]=DVIビューア
GenericName[ko]=DVI 보기
GenericName[lo]=ຕົວສະແດງຜົນ DVI
GenericName[lt]=DVI Žiūriklis
GenericName[lv]=DVI Skatītājs
GenericName[mk]=Прикажувач на DVI
GenericName[mt]=Werrej DVI
GenericName[nb]=DVI-fremviser
GenericName[nl]=DVI-weergaveprogramma
GenericName[nn]=DVI-lesar
GenericName[nso]=Molebeledi wa DVI
GenericName[oc]=Visualisor DVI
GenericName[pl]=Przeglądarka plików DVI
GenericName[pt]=Visualizador de DVIs
GenericName[pt_BR]=Visualizador de arquivos DVI
GenericName[ro]=Vizualizor de fişiere DVI
GenericName[ru]=Программа просмотра DVI
GenericName[se]=DVI čájeheaddji
GenericName[sk]=Prehliadač DVI súborov
GenericName[sl]=Pregledovalnik datotek DVI
GenericName[sr]=DVI prikazivač
GenericName[ss]=Sibuki se-DVI 
GenericName[sv]=DVI-visare
GenericName[ta]=DVI ¸¡ðÊ
GenericName[th]=ตัวแสดงผล DVI
GenericName[tr]=DVI Görüntüleyici
GenericName[uk]=Переглядач DVI
GenericName[ven]=Muvhoni wa DVI
GenericName[xh]=Umboniseli we DVI
GenericName[zh_CN]=DVI 查看器
GenericName[zh_TW]=DVI 檢視器
GenericName[zu]=Umboniseli we DVI
BinaryPattern=kdvi;
Name=KDVI
Name[af]=Kdvi
Name[eo]=DVI-rigardilo
MimeType=application/x-dvi;
InitialPreference=6
Exec=kviewshell dvi %f -caption "%c" %i %m 
TerminalOptions=
Icon=kdvi
Path=
Type=Application
Terminal=0
ServiceTypes=Browser/View
X-KDE-Library=kviewerpart
X-KDE-BrowserView-Args=dvi
DocPath=kdvi/index.html
X-KDE-StartupNotify=true
