[Desktop Entry]
Encoding=UTF-8
Icon=kpdf
Name=KPDF
Name[x-test]=xxKPDFxx
MimeType=application/pdf
InitialPreference=7
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libkpdfpart
Type=Service
