[Desktop Entry]
Type=Service
Name=Mobipocket document
Name[de]=Mobipocket-Dokument
Name[el]=Έγγραφο Mobipocket
Name[es]=Documento Mobipocket
Name[et]=Mobipocketi dokument
Name[fr]=Document Mobipocket
Name[gl]=Documento Mobipocket
Name[km]=ឯកសារ Mobipocket
Name[nds]=Mobipocket-Dokment
Name[nl]=Mobipocket-document
Name[pt]=Documento Mobipocket
Name[pt_BR]=Documento Mobipocket
Name[sv]=Mobipocket-dokument
Name[uk]=Документ Mobipocket
Name[x-test]=xxMobipocket documentxx
Comment=Mobipocket backend for Okular
Comment[el]=Σύστημα υποστήριξης Mobipocket για το Okular
Comment[es]=Motor Mobipocket para Okular
Comment[et]=Okulari Mobipocketi taustaprogramm
Comment[fr]=Moteur Mobipocket pour Okular
Comment[gl]=Infrastrutura de Mobipocket para Okular
Comment[km]=កម្មវិធី​ផ្នែក​ខាងក្រោយ Mobipocket សម្រាប់ Okular
Comment[nds]=Mobipocket-Hülppropgramm för Okular
Comment[nl]=Mobipocket backend voor Okular
Comment[pt]=Infra-estrutura do Mobipocket para o Okular
Comment[pt_BR]=Infra-estrutura do Mobipocket para o Okular
Comment[sv]=Mobipocket-gränssnitt för Okular
Comment[uk]=Сервер Mobipocket для Okular
Comment[x-test]=xxMobipocket backend for Okularxx
X-KDE-ServiceTypes=okular/Generator
MimeType=application/x-mobipocket-ebook;
X-KDE-Library=okularGenerator_mobi
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
