[Desktop Entry]
Type=Service
Name=Mobipocket document
Name[et]=Mobipocketi dokument
Name[fr]=Document mobipocket
Name[ga]=Cáipéis Mobipocket
Name[nl]=Mobipocket-document
Name[pt]=Documento Mobipocket
Name[pt_BR]=Documento Mobipocket
Name[sv]=Mobipocket-dokument
Name[tr]=Mobipocket belgesi
Name[uk]=Документ Mobipocket
Comment=Mobipocket backend for Okular
Comment[et]=Okulari Mobipocketi taustaprogramm
Comment[fr]=Moteur Mobipocket pour Okular
Comment[ga]=Inneall Mobipocket le haghaidh Okular
Comment[nl]=Mobipocket-backend voor Okular
Comment[pt]=Interface do Mobipocket para o Okular
Comment[pt_BR]=Infra-estrutura Mobipocket para o Okular
Comment[sv]=Mobipocket-gränssnitt för Okular
Comment[tr]=Okular için Mobipocket arka ucu
Comment[uk]=Сервер Mobipocket для Okular
X-KDE-ServiceTypes=okular/Generator
MimeType=application/x-mobipocket-ebook;
X-KDE-Library=okularGenerator_mobi
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
