[Desktop Entry]
Type=Service
Name=Mobipocket document
Name[ga]=Cáipéis Mobipocket
Name[nl]=Mobipocket-document
Comment=Mobipocket backend for Okular
Comment[ga]=Inneall Mobipocket le haghaidh Okular
Comment[nl]=Mobipocket-backend voor Okular
X-KDE-ServiceTypes=okular/Generator
MimeType=application/x-mobipocket-ebook;
X-KDE-Library=okularGenerator_mobi
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
