[Desktop Entry]
Type=Service
Name=EPub document
Comment=Epub backend for Okular
X-KDE-ServiceTypes=okular/Generator
MimeType=application/epub+zip;
X-KDE-Library=okularGenerator_epub
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
