[Desktop Entry]
Type=Service
Name=Mobipocket thumbnailer
Name[el]=Εικόνες επισκόπησης Mobipocket
Name[es]=Miniaturas para Mobipocket
Name[et]=Mobipocketi pisipildid
Name[fr]=Afficheur d'aperçus Mobipocket
Name[gl]=Miniaturas para Mobipocket
Name[km]=រូបភាព​តូចៗ​របស់ Mobipocket
Name[nds]=Mobipocket-Vöransichten
Name[nl]=Mobipocket-miniatuurmaker
Name[pt]=Miniaturas do Mobipocket
Name[pt_BR]=Miniaturas do Mobipocket
Name[sv]=Skapa Mobipocket-miniatyrbilder
Name[uk]=Інструмент створення мініатюр Mobipocket
Name[x-test]=xxMobipocket thumbnailerxx
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-mobipocket-ebook;
X-KDE-Library=mobithumbnail
CacheThumbnail=true

