[Desktop Entry]
MimeType=application/epub+zip;
Terminal=false
Name=Okular
GenericName=Document Viewer
GenericName[km]=កម្មវិធី​មើល​ឯកសារ
GenericName[pt]=Visualizador de Documentos
GenericName[pt_BR]=Visualizador de Documentos
Exec=okular %U %i -caption "%c"
Icon=graphics-viewer-document
Type=Application
InitialPreference=1
Categories=Qt;KDE;Graphics;Viewer;
NoDisplay=true
