[Desktop Entry]
MimeType=application/epub+zip;
Terminal=false
Name=Okular
Name[x-test]=xxOkularxx
GenericName=Document Viewer
GenericName[es]=Visor de documentos
GenericName[ga]=Amharcán Cáipéisí
GenericName[km]=កម្មវិធី​មើល​ឯកសារ
GenericName[pt]=Visualizador de Documentos
GenericName[pt_BR]=Visualizador de Documentos
GenericName[uk]=Переглядач документів
GenericName[x-test]=xxDocument Viewerxx
GenericName[zh_TW]=文件檢視器
Exec=okular %U %i -caption "%c"
Icon=graphics-viewer-document
Type=Application
InitialPreference=1
Categories=Qt;KDE;Graphics;Viewer;
NoDisplay=true
