[Desktop Entry]
MimeType=application/x-mobipocket-ebook;
Terminal=false
Name=Okular
GenericName=Document Viewer
GenericName[et]=Dokumentide näitaja
GenericName[fr]=Visonneuse de document
GenericName[ga]=Amharcán Cáipéisí
GenericName[nl]=Documentviewer
GenericName[pt]=Visualizador de Documentos
GenericName[pt_BR]=Visualizador de documentos
GenericName[sv]=Dokumentvisning
GenericName[tr]=Belge Gösterici
GenericName[uk]=Переглядач документів
Exec=okular %U %i -caption "%c"
Icon=okular
Type=Application
InitialPreference=1
Categories=Qt;KDE;Graphics;Viewer;
NoDisplay=true
