[Desktop Entry]
MimeType=application/x-mobipocket-ebook;
Terminal=false
Name=Okular
Name[x-test]=xxOkularxx
GenericName=Document Viewer
GenericName[el]=Προβολέας εγγράφων
GenericName[es]=Visor de documentos
GenericName[et]=Dokumentide näitaja
GenericName[fr]=Visonneuse de document
GenericName[ga]=Amharcán Cáipéisí
GenericName[ja]=文書ビューア
GenericName[nds]=Dokmentkieker
GenericName[nl]=Documentviewer
GenericName[pt]=Visualizador de Documentos
GenericName[pt_BR]=Visualizador de documentos
GenericName[sv]=Dokumentvisning
GenericName[tr]=Belge Gösterici
GenericName[uk]=Переглядач документів
GenericName[x-test]=xxDocument Viewerxx
GenericName[zh_CN]=文档查看器
Exec=okular %U %i -caption "%c"
Icon=okular
Type=Application
InitialPreference=1
Categories=Qt;KDE;Graphics;Viewer;
NoDisplay=true
