[Desktop Entry]
Encoding=UTF-8
Icon=oKular
Name=oKular
Name[ar]=برنامج KPDF
Name[hi]=के-पीडीएफ
Name[xx]=xxKPDFxx
MimeType=application/pdf
InitialPreference=7
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=liboKularpart
Type=Service
