[Desktop Entry]
MimeType=application/x-mobipocket-ebook;
Terminal=false
Name=Okular
GenericName=Document Viewer
GenericName[ga]=Amharcán Cáipéisí
GenericName[nl]=Documentviewer
Exec=okular %U %i -caption "%c"
Icon=okular
Type=Application
InitialPreference=1
Categories=Qt;KDE;Graphics;Viewer;
NoDisplay=true
