[Desktop Entry]
Type=Service
Name=Ghostscript
Name[ar]=غوست سكريبت
Name[ast]=Ghostscript
Name[bg]=Ghostscript
Name[bs]=Ghostscript
Name[ca]=Ghostscript
Name[ca@valencia]=Ghostscript
Name[cs]=Ghostscript
Name[da]=Ghostscript
Name[de]=Ghostscript
Name[el]=Ghostscript
Name[en_GB]=Ghostscript
Name[eo]=Ghostscript
Name[es]=Ghostscript
Name[et]=Ghostscript
Name[eu]=Ghostscript
Name[fi]=Ghostscript
Name[fr]=Ghostscript
Name[ga]=Ghostscript
Name[gl]=Ghostscript
Name[hi]=घोस्ट-स्क्रिप्ट
Name[hne]=घोस्ट-स्क्रिप्ट
Name[hr]=Ghostscript
Name[hu]=Ghostscript
Name[ia]=Ghostscript
Name[is]=Ghostscript
Name[it]=Ghostscript
Name[ja]=Ghostscript
Name[kk]=Ghostscript
Name[km]=Ghostscript
Name[ko]=Ghostscript
Name[ku]=Ghostscript
Name[lt]=Ghostscript
Name[lv]=Ghostscript
Name[mr]=Ghostscript
Name[nb]=Ghostscript
Name[nds]=Ghostscript
Name[ne]=घोस्टस्क्रिप्ट
Name[nl]=Ghostscript
Name[nn]=Ghostscript
Name[pa]=ਗੋਸਟ-ਸਕ੍ਰਿਪਟ
Name[pl]=Ghostscript
Name[pt]=GhostScript
Name[pt_BR]=Ghostscript
Name[ro]=Ghostscript
Name[ru]=Ghostscript
Name[sk]=Ghostscript
Name[sl]=Ghostscript
Name[sq]=Ghostscript
Name[sr]=Гостскрипт
Name[sr@ijekavian]=Гостскрипт
Name[sr@ijekavianlatin]=GhostScript
Name[sr@latin]=GhostScript
Name[sv]=Ghostscript
Name[th]=เอกสาร Ghostscript
Name[tr]=Ghostscript
Name[ug]=Ghostscript
Name[uk]=Ghostscript
Name[vi]=Ghostscript
Name[x-test]=xxGhostscriptxx
Name[zh_CN]=GhostScript 信息
Name[zh_TW]=Ghostscript
Comment=Ghostscript PS/PDF backend for Okular
Comment[ar]=المنتهى الخلفي Ghostscript PS/PDF لأوكلار
Comment[ast]=Motor PS/PDF de Ghostscript pa Okular
Comment[bg]=Ядро на Okular за Ghostscript PS/PDF
Comment[bs]=Ghostscript PS-a/PDF-a pozadina za Okular
Comment[ca]=Dorsal de Ghostscript PS/PDF per a l'Okular
Comment[ca@valencia]=Dorsal de Ghostscript PS/PDF per a l'Okular
Comment[cs]=Implementace Ghostscript PS/PDF pro Okular
Comment[da]=Ghostscript PS/PDF-motor til Okular
Comment[de]=Anzeigemodul für Ghostscript PS/PDF in Okular
Comment[el]=Σύστημα υποστήριξης Ghostscript PS/PDF για το Okular
Comment[en_GB]=Ghostscript PS/PDF backend for Okular
Comment[es]=Motor PS/PDF de Ghostscript para Okular
Comment[et]=Okulari Ghostscript PS/PDF-i taustaprogramm
Comment[eu]=Okular-en Ghostscript PS/PDF motorra
Comment[fi]=Ghostscript-pohjainen PS/PDF-taustaosa Okularille
Comment[fr]=Moteur « Ghostscript PS / PDF » pour Okular
Comment[ga]=Inneall PS/PDF Ghostscript le haghaidh Okular
Comment[gl]=Infraestrutura de Ghostscript PS/PDF para Okular
Comment[hne]=ओकुलर बर घोस्टस्क्रिप्ट पीएस/पीडीएफ बैकएन्ड
Comment[hr]=Podrška za Ghostscript-PS/PDF za Okular
Comment[hu]=Ghostscript PS/PDF-bővítmény az Okularhoz
Comment[ia]=Retro-administration per PS/PDF con Ghostscript pro Okular
Comment[is]=Ghostscript PS/PDF stuðningur fyrir Okular
Comment[it]=Backend Ghostscript PS/PDF per Okular
Comment[ja]=Okular の Ghostscript PS/PDF バックエンド
Comment[kk]=Okular-дың Ghostscript PS/PDF тетігі
Comment[km]=ផ្នែក​ខាង​ក្រោយ Ghostscript PS/PDF សម្រាប់ Okular
Comment[ko]=Okular의 Ghostscript PS/PDF 백엔드
Comment[ku]=Binesazî ya Ghostscript PS/PDF ji bo Okular
Comment[lt]=Ghostscript PS/PDF programinė sąsaja, skirta Okular
Comment[lv]=Ghostscript PS/PDF Okular aizmugure
Comment[mr]=ओक्युलर करिता Ghostscript PS/PDF बॅकएन्ड
Comment[nb]=Ghostscript PS- og PDF-motor for Okular
Comment[nds]=PostScript/PDF-Hülpprogramm Ghostview för Okular
Comment[nl]=GhostScript PS/PDF-backend voor Okular
Comment[nn]=Ghostscript PS- og PDF-motor for Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ ਗੋਸਟ-ਸਕ੍ਰਿਪਟ PS/PDF ਬੈਕਐਂਡ
Comment[pl]=Obsługa Ghostscript PS/PDF dla Okulara
Comment[pt]=Infra-estrutura de PS/PDF do Ghostscript para o Okular
Comment[pt_BR]=Infraestrutura Ghostscript PS/PDF para o Okular
Comment[ro]=Platformă PS/PDF Ghostscript pentru Okular
Comment[ru]=Модуль поддержки форматов PS/PDF для Okular посредством Ghostscript
Comment[sk]=Backend Ghostscript PS/PDF pre Okular
Comment[sl]=Zaledje Ghostscript za PS in PDF za Okular
Comment[sq]=Ghostscript PS/PDF mbështetje për Okular
Comment[sr]=Позадина ПС‑а и ПДФ‑а за Окулар, кроз Гостскрипт
Comment[sr@ijekavian]=Позадина ПС‑а и ПДФ‑а за Окулар, кроз Гостскрипт
Comment[sr@ijekavianlatin]=Pozadina PS‑a i PDF‑a za Okular, kroz GhostScript
Comment[sr@latin]=Pozadina PS‑a i PDF‑a za Okular, kroz GhostScript
Comment[sv]=Ghostscript PS/PDF-gränssnitt för Okular
Comment[th]=แบ็กเอนด์เอกสาร Ghostscript PS/PDF สำหรับโอกูลาร์
Comment[tr]=Okular için Ghostscript PS/PDF arka ucu
Comment[uk]=Додаток Ghostscript PS/PDF для Okular
Comment[x-test]=xxGhostscript PS/PDF backend for Okularxx
Comment[zh_CN]=Okular 的 Ghostscript PS/PDF 格式后端
Comment[zh_TW]=Okular 的 Ghostscript PS/PDF 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=application/postscript;image/x-eps;
X-KDE-Library=okularGenerator_ghostview
X-KDE-Priority=2
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=true
