[Desktop Entry]
Type=Service
Name=Ghostscript
Name[ne]=घोस्टस्क्रिप्ट
Name[pa]=ਗੋਸਟ-ਸਕ੍ਰਿਪਟ
Name[pt]=GhostScript
Name[pt_BR]=GhostScript
Name[x-test]=xxGhostscriptxx
Name[zh_CN]=GhostScript 信息
Comment=Ghostscript PS/PDF backend for okular
Comment[bg]=Ghostscript PS/PDF backend за okular
Comment[ca]=Dorsal de Ghostscript PS/PDF per l'okular
Comment[de]=Unterstützung für Ghostscript PS/PDF in Okular
Comment[el]=Σύστημα υποστήριξης Ghostscript PS/PDF για το okular
Comment[eo]=Ghostscript PS/PDF interno por okular
Comment[es]=Motor PS/PDF de Ghostscript para Okular
Comment[et]=Okulari Ghostscript PS/PDF-i taustaprogramm
Comment[gl]=Infraestrutura Ghostscript PS/PDF para okular
Comment[is]=Ghostscript PS/PDF stuðningur fyrir Okular
Comment[ja]=okular の Ghostscript PS/PDF バックエンド
Comment[ko]=okular의 Ghostscript PS/PDF 백엔드
Comment[lv]=Ghostscript PS/PDF aizmugure priekš okular
Comment[nds]=PostScript/PDF-Hülpprogramm Ghostview för Okular
Comment[ne]=ओकुलरका लागि घोस्टस्क्रिप्ट पीएस/पीडीएफ ब्याकइन्ड
Comment[nl]=GhostScript PS/PDF-backend voor Okular
Comment[pl]=Obsługa Ghostscript PS/PDF dla okulara
Comment[pt]=Infra-estrutura de PS/PDF do Ghostscript para o okular
Comment[pt_BR]=Infra-estrutura de PS/PDF do Ghostscript para o okular
Comment[sv]=Ghostscript PS/PDF-gränssnitt för Okular
Comment[uk]=Втулка Ghostscript PS/PDF для okular
Comment[x-test]=xxGhostscript PS/PDF backend for okularxx
Comment[zh_CN]=okular 的 Ghostscript PS/PDF 格式后端
Comment[zh_TW]=okular 的 Ghostscript PS/PDF 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=application/postscript;image/x-eps;
X-KDE-Library=okularGenerator_ghostview
X-KDE-Priority=2
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=true
