[Desktop Entry]
Type=Service
Name=Ghostscript
Name[hi]=घोस्ट-स्क्रिप्ट
Name[ne]=घोस्टस्क्रिप्ट
Name[pa]=ਗੋਸਟ-ਸਕ੍ਰਿਪਟ
Name[pt]=GhostScript
Name[x-test]=xxGhostscriptxx
Name[zh_CN]=GhostScript 信息
Comment=Ghostscript PS/PDF backend for Okular
X-KDE-ServiceTypes=okular/Generator
MimeType=application/postscript;image/x-eps;
X-KDE-Library=okularGenerator_ghostview
X-KDE-Priority=2
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=true
