[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Comic Book
Name[el]=Βιβλίο κόμικ
Name[pa]=ਕਾਮਿਕਸ ਕਿਤਾਬ
Name[pt]=Banda Desenhada
Name[pt_BR]=Banda Desenhada
Name[x-test]=xxComic Bookxx
Comment=Comic book backend for okular
Comment[el]=Σύστημα υποστήριξης βιβλίων κόμικ για το okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ ਕਾਮਿਕਸ ਕਿਤਾਬ ਬੈਕਐਂਡ
Comment[pt]=Infra-estrutura de banda desenhada para o okular
Comment[pt_BR]=Infra-estrutura de banda desenhada para o okular
Comment[sv]=Comic book-gränssnitt för Okular
Comment[x-test]=xxComic book backend for okularxx
Comment[zh_TW]=okular 的 Comic book 後端
ServiceTypes=okular/Generator
MimeType=application/x-cbz;application/x-cbr;
X-KDE-Library=libokularGenerator_comicbook
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
