[Desktop Entry]
Type=Service
Name=Comic Book
Name[de]=Comicbook
Name[el]=Βιβλίο κόμικ
Name[eo]=ComicBook
Name[et]=Koomiks
Name[fi]=Sarjakuva
Name[fr]="Comic Book"
Name[gl]=Libro Comic
Name[hi]=कॉमिक पुस्तिका
Name[km]=សៀវភៅ​កំប្លែង
Name[ko]=만화책
Name[nds]=Comicbook
Name[ne]=कस्मिक किताब
Name[pa]=ਕਾਮਿਕਸ ਕਿਤਾਬ
Name[pl]=Komiks
Name[pt]=Banda Desenhada
Name[sl]=Strip
Name[uk]=Комікс
Name[vi]=Truyện Tranh
Name[x-test]=xxComic Bookxx
Comment=Comic book backend for Okular
X-KDE-ServiceTypes=okular/Generator
MimeType=application/x-cbz;application/x-cbr;
X-KDE-Library=okularGenerator_comicbook
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
