[Desktop Entry]
Type=Service
Name=Comic Book
Name[ar]=كوميك بوك
Name[ast]=Comic Book
Name[bg]=Комикс
Name[bs]=Strip
Name[ca]=Comic Book
Name[ca@valencia]=Comic Book
Name[cs]=Kniha komiksů
Name[da]=Comic Book
Name[de]=Comic-Book
Name[el]=Βιβλίο κόμικ
Name[en_GB]=Comic Book
Name[eo]=ComicBook
Name[es]=Comic Book
Name[et]=Koomiks
Name[eu]=Komikia
Name[fi]=Comic Book
Name[fr]= Comic Book
Name[ga]=Comic Book
Name[gl]=Libro de banda deseñada
Name[hi]=कॉमिक पुस्तिका
Name[hne]=कामिक पुस्तिका
Name[hr]=Strip
Name[hu]=Képregénynézegető
Name[ia]=Comic Book
Name[is]=Comic Book
Name[it]=Comic Book
Name[ja]=Comic Book
Name[kk]=Комикс кітабі
Name[km]=សៀវភៅ​កំប្លែង
Name[ko]=만화책
Name[ku]=Pirtûkên Qerfî
Name[lt]=Comic Book
Name[lv]=Comic Book
Name[mr]=कॉमिक पुस्तक
Name[nb]=Tegneserie
Name[nds]=Comicbook
Name[ne]=कस्मिक किताब
Name[nl]=Comic Book
Name[nn]=Teikneserie
Name[pa]=ਕਾਮਿਕਸ ਕਿਤਾਬ
Name[pl]=Komiks
Name[pt]=Banda Desenhada
Name[pt_BR]=Comic Book
Name[ro]=Benzi desenate
Name[ru]=Comic Book
Name[sk]=Kniha komiksov
Name[sl]=Strip
Name[sq]=Libër Komik
Name[sr]=комикбук
Name[sr@ijekavian]=комикбук
Name[sr@ijekavianlatin]=ComicBook
Name[sr@latin]=ComicBook
Name[sv]=Seriebok
Name[th]=หนังสือการ์ตูน
Name[tr]=Comic Book
Name[ug]=ھەجۋىي كىتاب
Name[uk]=Комікс
Name[vi]=Truyện Tranh
Name[x-test]=xxComic Bookxx
Name[zh_CN]=Comic Book
Name[zh_TW]=Comic Book
Comment=Comic book backend for Okular
Comment[ar]=المنتهى الخلفي Comic book لأوكلار
Comment[ast]=Motor de llibros de Comic pa Okular
Comment[bg]=Ядро на Okular за комикси
Comment[bs]=Pozadina stripa za Okular
Comment[ca]=Dorsal de Comic book per a l'Okular
Comment[ca@valencia]=Dorsal de Comic book per a l'Okular
Comment[cs]=Implementace Knihy komiksů pro Okular
Comment[da]=Comic book-motor til Okular
Comment[de]=Anzeigemodul für Comic-Book in Okular
Comment[el]=Σύστημα υποστήριξης βιβλίων κόμικ για το Okular
Comment[en_GB]=Comic book backend for Okular
Comment[es]=Motor de libros de Comic para Okular
Comment[et]=Okulari koomiksite taustaprogramm
Comment[eu]=Okular-en komiki motorra
Comment[fi]=Comic book -taustaosa Okularille
Comment[fr]=Moteur « Comic book » pour Okular
Comment[ga]=Inneall Comic Book le haghaidh Okular
Comment[gl]=Infraestruturas de banda deseñada para Okular
Comment[hne]=ओकुलर बर कामिक बुक बैकएन्ड
Comment[hr]=Podrška za stripove za Okular
Comment[hu]=Képregényolvasó bővítmény az Okularhoz
Comment[ia]=Retro-administration per Comic Book  pro Okular
Comment[is]=ComicBook stuðningur fyrir Okular
Comment[it]=Backend Comic book per Okular
Comment[ja]=Okular の Comic Book 用バックエンド
Comment[kk]=Okular-дың комикс тетігі
Comment[km]=ផ្នែក​ខាង​ក្រោយ​សៀវភៅ​កំប្លែង​សម្រាប់ Okular
Comment[ko]=Okular의 만화책 백엔드
Comment[ku]=Binesazî ya pirtûkên qerfî ji bo Okular
Comment[lt]=Comic book programinė sąsaja, skirta Okular
Comment[lv]=Comic book Okular aizmugure
Comment[mr]=ओक्युलर करिता कॉमिक पुस्तक बॅकएन्ड
Comment[nb]=Tegneseriemotor for Okular
Comment[nds]=Comicbook-Hülpprogramm för Okular
Comment[nl]=Comic-book-backend voor Okular
Comment[nn]=Teikneseriemotor for Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ ਕਾਮਿਕਸ ਕਿਤਾਬ ਬੈਕਐਂਡ
Comment[pl]=Silnik komiksu dla Okulara
Comment[pt]=Infra-estrutura de banda desenhada para o Okular
Comment[pt_BR]=Infraestrutura Comic book para o Okular
Comment[ro]=Platformă de benzi desenate pentru Okular
Comment[ru]=Модуль поддержки формата Comic Book для Okular
Comment[sk]=Backend knihy komiksov pre Okular
Comment[sl]=Zaledje za stripe za Okular
Comment[sq]=Mbështetje për librat komikë për Okular
Comment[sr]=Позадина комикбука за Окулар
Comment[sr@ijekavian]=Позадина комикбука за Окулар
Comment[sr@ijekavianlatin]=Pozadina ComicBooka za Okular
Comment[sr@latin]=Pozadina ComicBooka za Okular
Comment[sv]=Seriebokgränssnitt för Okular
Comment[th]=แบ็กเอนด์หนังสือการ์ตูนสำหรับโอกูลาร์
Comment[tr]=Okular için Comic book arka ucu
Comment[uk]=Додаток коміксів для Okular
Comment[x-test]=xxComic book backend for Okularxx
Comment[zh_CN]=Okular 的 Comic book 格式后端
Comment[zh_TW]=Okular 的 Comic book 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=application/x-cbz;application/x-cbr;application/x-cbt;inode/directory;
X-KDE-Library=okularGenerator_comicbook
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
