[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-cbz;application/x-cbr;
Terminal=false
Name=okular
Name[pa]=ਓਕੁਲਾਰ
GenericName=Document Viewer
GenericName[el]=Προβολέας εγγράφων
GenericName[es]=Visor de documentos
GenericName[pa]=ਦਸਤਾਵੇਜ਼ ਦਰਸ਼ਕ
GenericName[sv]=Dokumentvisare
GenericName[x-test]=xxDocument Viewerxx
Exec=okular %U %i -caption "%c"
Icon=okular
Type=Application
DocPath=okular/index.html
InitialPreference=7
Categories=Qt;KDE;Graphics;Viewer;
NoDisplay=true
