[Desktop Entry]
Encoding=UTF-8
Name=kfaxview_tiff
Name[da]=Kfaxview TIFF
Name[sv]=Kfaxview TIFF
Name[xx]=xxkfaxview_tiffxx
Name[zh_CN]=KFaxView_tiff
Icon=kfaxview
Type=Service
Comment=KViewShell plugin for fax files
Comment[bg]=Приставка за факс файлове
Comment[cs]=KViewShell modul pro faxové soubory
Comment[da]=Kviewshell-plugin for telefaxfiler
Comment[de]=Ein Modul für KViewShell zum Betrachten von Faxdateien
Comment[es]=Extensión KViewShell para archivos de fax
Comment[et]=KView faksifailide plugin
Comment[it]=Plugin KViewShell per file di fax
Comment[pl]=Wtyczka KViewShell do plików faksów
Comment[ru]=Модуль просмотра факсов
Comment[sr]=KViewShell-ов прикључак за факс фајлове
Comment[sr@Latn]=KViewShell-ov priključak za faks fajlove
Comment[sv]=Kviewshell-insticksprogram för telefaxfiler
Comment[tr]=Faks dosyaları için KViewShell eklentisi
Comment[xx]=xxKViewShell plugin for fax filesxx
Comment[zh_CN]=传真文件的 KViewShell 插件
ServiceTypes=KViewShell/MultiPage
X-KDE-MimeTypes=image/tiff
X-KDE-Library=kfaxviewpart
X-KDE-MultiPageVersion=2
