[Desktop Entry]
Encoding=UTF-8
GenericName=Fax Viewer
GenericName[af]=Faks Aansig
GenericName[ar]=عارض الفاكس
GenericName[bg]=Преглед на факсове
GenericName[br]=Gweler faks
GenericName[bs]=Preglednik faxova
GenericName[ca]=Visualitzador de fax
GenericName[cs]=Prohlížeč faxů
GenericName[cy]=Gwelydd Ffacs
GenericName[da]=Fax-fremviser
GenericName[de]=Faxbetrachter
GenericName[el]=Προβολέας φαξ
GenericName[eo]=Faksrigardilo
GenericName[es]=Visor de faxes
GenericName[et]=Fakside vaataja
GenericName[eu]=Fax ikustailua
GenericName[fi]=Faksinäytin
GenericName[fr]=Afficheur de fax
GenericName[gl]=Visor de fax
GenericName[he]=מציג פקסים
GenericName[hi]=फ़ैक्स प्रदर्शक
GenericName[hr]=Preglednik faksova
GenericName[hu]=Faxnézegető
GenericName[is]=Fax sjá
GenericName[it]=Visore di fax
GenericName[ja]=Faxビューア
GenericName[lt]=Faksų žiūriklis
GenericName[lv]=Faksu Skatītājs
GenericName[nb]=Faksfremviser
GenericName[nl]=Faxweergaveprogramma
GenericName[nn]=Faksvisar
GenericName[pa]=ਫੈਕਸ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka faksów
GenericName[pt]=Visualizador de Faxes
GenericName[pt_BR]=Visualizador de Faxes
GenericName[ro]=Vizualizor FAX
GenericName[ru]=Чтение факсов
GenericName[se]=Fáksačájeheaddji
GenericName[sk]=Prehliadač faxov
GenericName[sl]=Ogledovalnik faksov
GenericName[sr]=Приказивач факсова
GenericName[sr@Latn]=Prikazivač faksova
GenericName[sv]=Faxvisare
GenericName[ta]=ஃபாக்ஸ் காட்சி
GenericName[tg]=Хондани факс
GenericName[th]=เครื่องมือแสดงโทรสารของ KDE
GenericName[tr]=Faks Görüntüleyici
GenericName[uk]=Переглядач факсів
GenericName[uz]=Факс кўрувчи
GenericName[ven]=Muvhoni wa Fekisi
GenericName[wa]=Håyneu di facs
GenericName[xh]=Umboniseli Wefax
GenericName[xx]=xxFax Viewerxx
GenericName[zh_CN]=传真查看器
GenericName[zh_TW]=傳真檢視器
GenericName[zu]=Umbonisi wefax
Name=KFaxView
Name[sv]=Kfaxview
Name[xx]=xxKFaxViewxx
MimeType=image/fax-g3
InitialPreference=6
Exec=kfaxview %f
Icon=kfaxview
Path=
Type=Application
Terminal=false
ServiceTypes=Browser/View
X-KDE-Library=kviewerpart
X-KDE-BrowserView-Args=fax
DocPath=kfaxview/index.html
X-KDE-StartupNotify=true
Categories=Qt;KDE;Graphics;
