[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDE fax libraries
Comment=Fax backend for okular
ServiceTypes=okular/Generator
MimeType=image/fax-g3;image/tiff;
X-KDE-Library=libokularGenerator_fax
X-KDE-Priority=4
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
