[Desktop Entry]
Type=Service
Name=Fax documents
Name[ar]=مستندات الفاكس
Name[ast]=Documentos de fax
Name[bg]=Факс
Name[bs]=Faksovi
Name[ca]=Documents de fax
Name[ca@valencia]=Documents de fax
Name[cs]=Faxové dokumenty
Name[da]=Fax-dokumenter
Name[de]=Fax-Dokumente
Name[el]=Έγγραφα φαξ
Name[en_GB]=Fax documents
Name[es]=Documentos de fax
Name[et]=Faksidokumendid
Name[eu]=Fax-dokumentuak
Name[fi]=Faksitiedosto
Name[fr]=Documents pour fax
Name[ga]=Facsáil cáipéisí
Name[gl]=Documentos de fax
Name[hne]=फैक्स कागद
Name[hr]=Dokumenti za faks
Name[hu]=Faxdokumentumok
Name[ia]=Documentos de Fax
Name[is]=Fax skjöl
Name[it]=Documenti Fax
Name[ja]=ファクス文書
Name[kk]=Факс құжаты
Name[km]=ឯកសារ​ទូរសារ
Name[ko]=팩스 문서
Name[ku]=Belgeyên Fax
Name[lt]=Fakso dokumentai
Name[lv]=Faksa dokumenti
Name[mr]=फॅक्स दस्तऐवज
Name[nb]=Faksdokumenter
Name[nds]=Fax-Dokmenten
Name[nl]=Fax-documenten
Name[nn]=Faksdokument
Name[pa]=ਫੈਕਸ ਡੌਕੂਮੈਂਟ
Name[pl]=Dokumenty faksowe
Name[pt]=Documentos de fax
Name[pt_BR]=Documentos de fax
Name[ro]=Documente fax
Name[ru]=Факс
Name[sk]=Faxové dokumenty
Name[sl]=Faksi
Name[sq]=Dokumentet Faks
Name[sr]=Факсови
Name[sr@ijekavian]=Факсови
Name[sr@ijekavianlatin]=Faksovi
Name[sr@latin]=Faksovi
Name[sv]=Telefax-dokument
Name[th]=เอกสารโทรสาร
Name[tr]=Faks belgeleri
Name[ug]=فاكىس پۈتۈكى
Name[uk]=Документи факсів
Name[x-test]=xxFax documentsxx
Name[zh_CN]=Fax 文档
Name[zh_TW]=傳真文件
Comment=G3/G4 Fax backend for Okular
Comment[ar]=المنتهى الخلفي G3/G4 Fax لأوكلار
Comment[ast]=Motor de fax G3/G4 pa Okular
Comment[bg]=Ядро на Okular за факс G3/G4
Comment[bs]=Pozadina G3/G4 faksova za Okular
Comment[ca]=Dorsal de fax G3/G4 per a l'Okular
Comment[ca@valencia]=Dorsal de fax G3/G4 per a l'Okular
Comment[cs]=Implementace G3/G4 Fax pro Okular
Comment[da]=G3/G4 fax-motor til Okular
Comment[de]=Anzeigemodul für G3/G4 Faxe in Okular
Comment[el]=Σύστημα υποστήριξης φαξ G3/G4 για το Okular
Comment[en_GB]=G3/G4 Fax backend for Okular
Comment[es]=Motor de fax G3/G4 para Okular
Comment[et]=Okulari G3/G4 faksi taustaprogramm
Comment[eu]=Okular-en G3/G4 faxaren motorra
Comment[fi]=G3/G4-faksitaustaosa Okularille
Comment[fr]=Moteur « Fax G3 / G4 » pour Okular
Comment[ga]=Inneall facsála G3/G4 le haghaidh Okular
Comment[gl]=Infraestrutura de fax G3/G4 para Okular
Comment[hne]=ओकुलर बर जी३/जी४ बैकएन्ड
Comment[hr]=Podrška za G3/G4 za faks za Okular
Comment[hu]=Bővítmény G3/G4 formátumú faxok kezeléséhez az Okularhoz
Comment[ia]=Retro-administration per Fax G3/G4  pro Okular
Comment[is]=G3/G4 fax-bakendi fyrir Okular
Comment[it]=Backend G3/G4 per Okular
Comment[ja]=Okular の G3/G4 ファクス用バックエンド
Comment[kk]=Okular-дың G3/G4 факс тетігі
Comment[km]=កម្មវិធី​ខាង​ក្រោយ​ទូរសារ​ G3/G4 សម្រាប់ Okular
Comment[ko]=Okular의 G3/G4 팩스 백엔드
Comment[ku]=Binesazî ya G3/G4 Fax ji bo Okular
Comment[lt]=G3/G4 faksų programinė sąsaja, skirta Okular
Comment[lv]=G3/G4 Faksa Okular aizmugure 
Comment[mr]=ओक्युलर करिता G3/G4 फॅक्स बॅकएन्ड
Comment[nb]=G3/G4-faksmotor for Okular
Comment[nds]=G3-/G4-Fax-Hülpprogramm för Okular
Comment[nl]=G3/G4 Fax-backend voor Okular
Comment[nn]=G3/G4-faksmotor for Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ G3/G4 ਫੈਕਸ ਬੈਕਐਂਡ
Comment[pl]=Obsługa faksu G3/G4 w Okularze
Comment[pt]=Infra-estrutura de Fax G3/G4 para o Okular
Comment[pt_BR]=Infraestrutura de fax G3/G4 para o Okular
Comment[ro]=Platformă fax G3/G4 pentru Okular
Comment[ru]=Модуль поддержки формата G3/G4 Fax для Okular
Comment[sk]=Backend faxu G3/G4 pre Okular
Comment[sl]=Zaledje za fakse G3/G4 za Okular
Comment[sq]=G3/G4 Faks mbështetje për Okular
Comment[sr]=Позадина Г3/Г4 факсова за Окулар
Comment[sr@ijekavian]=Позадина Г3/Г4 факсова за Окулар
Comment[sr@ijekavianlatin]=Pozadina G3/G4 faksova za Okular
Comment[sr@latin]=Pozadina G3/G4 faksova za Okular
Comment[sv]=G3/G4 telefax-gränssnitt för Okular
Comment[th]=แบ็กเอนด์โทรสาร G3/G4 สำหรับโอกูลาร์
Comment[tr]=Okular için G3/G4 Faks arka ucu
Comment[uk]=Додаток факсів G3/G4 для Okular
Comment[x-test]=xxG3/G4 Fax backend for Okularxx
Comment[zh_CN]=Okular 的 G3/G4 Fax 格式后端
Comment[zh_TW]=Okular G3/G4 傳真後端
X-KDE-ServiceTypes=okular/Generator
MimeType=image/fax-g3;image/g3fax;
X-KDE-Library=okularGenerator_fax
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
