[Desktop Entry]
Type=Service
Name=Fax documents
Name[es]=Documentos de fax
Name[gl]=Documentos de fax
Name[km]=ឯកសារ​ទូរសារ
Name[nds]=Fax-Dokmenten
Name[pt]=Documentos de fax
Name[pt_BR]=Documentos de fax
Name[sv]=Telefax-dokument
Name[uk]=Документи факсів
Name[x-test]=xxFax documentsxx
Name[zh_CN]=Fax 文档
Name[zh_TW]=傳真文件
Comment=G3/G4 Fax backend for Okular
Comment[es]=Motor de fax G3/G4 para Okular
Comment[gl]=Infraestrutura de fax G3/G4 para Okular
Comment[km]=កម្មវិធី​ខាង​ក្រោយ​ទូរសារ​ G3/G4 សម្រាប់ Okular
Comment[nds]=G3-/G4-Fax-Hülpprogramm för Okular
Comment[pt]=Infra-estrutura de Fax G3/G4 para o Okular
Comment[pt_BR]=Infra-estrutura de fax G3/G4 para o Okular
Comment[sv]=G3/G4 telefax-gränssnitt för Okular
Comment[uk]=Втулка факсів G3/G4 для Okular
Comment[x-test]=xxG3/G4 Fax backend for Okularxx
Comment[zh_CN]=Okular 的 G3/G4 Fax 格式后端
Comment[zh_TW]=Okular G3/G4 傳真後端
X-KDE-ServiceTypes=okular/Generator
MimeType=image/fax-g3;image/g3fax;
X-KDE-Library=okularGenerator_fax
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
