[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=okular/Generator
Comment=File format backend for Okular
Comment[ar]=المنتهى الخلفي لـنسق الملف لأوكلار
Comment[ca]=Dorsal de format de fitxer per a l'Okular
Comment[da]=Filformatmotor til Okular
Comment[de]=Dateiformat-Modul für Okular
Comment[el]=Σύστημα υποστήριξης μορφής αρχείων για το Okular
Comment[en_GB]=File format backend for Okular
Comment[es]=Motor de formatos de archivos para Okular
Comment[et]=Okulari failivormingu taustaporgramm
Comment[eu]=Okular-en fitxategi-formatuaren motorra
Comment[fi]=Tiedostomuodot-taustaosa Okular-lukijalle
Comment[fr]=Interface du format de fichier d'Okular
Comment[ga]=Inneall formáide comhaid le haghaidh Okular
Comment[gl]=Infraestrutura dun formato de ficheiro para Okular
Comment[hne]=ओकुलर बर फाइल प्रारूप बैकएंड
Comment[hu]=Fájlformátumkezelő az Okularhoz
Comment[is]=Skráasniðsstuðningur fyrir Okular
Comment[it]=Backend per i formati di file di Okular
Comment[ja]=Okular のファイル形式バックエンド
Comment[kk]=Okular-дың файл пішім тетігі
Comment[km]=ផ្នែក​ខាង​ក្រោយ​ទ្រង់ទ្រាយ​ឯកសារ​សម្រាប់ Okular
Comment[ko]=Okular용 파일 형식 백엔드
Comment[ku]=Binesazî ya teşeya pelê Okular 
Comment[lt]=Okular failų formato programinė sąsaja
Comment[lv]=Failu formātu Okular aizmugure
Comment[nb]=Filformatmotor for Okular
Comment[nds]=Dateiformaat-Hülpprogramm för Okular
Comment[nl]=Bestandsformaat-backend voor Okular
Comment[nn]=Filformatmotor for Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ ਫਾਇਲ ਫਾਰਮੈਟ ਬੈਕਐਂਡ
Comment[pl]=Obsługa formatu pliku dla Okulara
Comment[pt]=Infra-estrutura do formato de ficheiros para o Okular
Comment[pt_BR]=Infraestrutura de formato de arquivo para o Okular
Comment[ro]=Platformă Okular pentru formate de fișiere
Comment[ru]=Модуль поддержки формата для Okular
Comment[sl]=Hrbtenica za vrste datotek za Okular
Comment[sr]=Позадина формата фајла за Окулар
Comment[sr@latin]=Pozadina formata fajla za Okular
Comment[sv]=Filformatgränssnitt för Okular
Comment[th]=แบ็คเอนต์รูปแบบแฟ้มสำหรับ Okular
Comment[tr]=Okular için dosya biçimi arka ucu
Comment[uk]=Сервер типів файлів для okular
Comment[x-test]=xxFile format backend for Okularxx
Comment[zh_CN]=Okular 文件格式后端
Comment[zh_TW]=Okular 檔案格式後端
# Priority of the plugin. 0 - disabled
[PropertyDef::X-KDE-Priority]
Type=int

# Version of the API.
[PropertyDef::X-KDE-okularAPIVersion]
Type=int

# Has configuration option
[PropertyDef::X-KDE-okularHasInternalSettings]
Type=bool

