[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=okular/Generator
Comment=File format backend for okular
Comment[ja]=okular のファイル形式バックエンド
Comment[pa]=ਓਕੁਲਾਰ ਲਈ ਫਾਇਲ ਫਾਰਮੈਟ ਬੈਕਐਂਡ
Comment[sv]=Filformatgränssnitt för Okular
Comment[x-test]=xxFile format backend for okularxx
Comment[zh_TW]=okular 檔案格式後端
# Priority of the plugin. 0 - disabled
[PropertyDef::X-KDE-Priority]
Type=int

# Version of the API.
[PropertyDef::X-KDE-okularAPIVersion]
Type=int

# Has configuration option
[PropertyDef::X-KDE-okularHasInternalSettings]
Type=bool

