[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=okular/Generator
Comment=File format backend for Okular
Comment[el]=Σύστημα υποστήριξης μορφής αρχείων για το Okular
Comment[es]=Motor de formatos de archivos para Okular
Comment[ga]=Inneall formáide comhaid le haghaidh Okular
Comment[is]=Skráasniðsstuðningur fyrir Okular
Comment[ja]=Okular のファイル形式バックエンド
Comment[km]=ផ្នែក​ខាង​ក្រោយ​ទ្រង់ទ្រាយ​ឯកសារ​សម្រាប់ Okular
Comment[nds]=Dateiformaat-Hülpprogramm för Okular
Comment[pt]=Infra-estrutura do formato de ficheiros para o Okular
Comment[pt_BR]=Backend de Formato de Arquivo para Okular
Comment[th]=แบ็คเอนต์รูปแบบแฟ้มสำหรับ Okular
Comment[tr]=Okular için dosya biçimi arka ucu
Comment[uk]=Сервер типів файлів для okular
Comment[zh_CN]=Okular 文件格式后端
Comment[zh_TW]=Okular 檔案格式後端
# Priority of the plugin. 0 - disabled
[PropertyDef::X-KDE-Priority]
Type=int

# Version of the API.
[PropertyDef::X-KDE-okularAPIVersion]
Type=int

# Has configuration option
[PropertyDef::X-KDE-okularHasInternalSettings]
Type=bool

