[Desktop Entry]
Type=Service
Name=Poppler
Name[ar]=بوبلِر
Name[ast]=Poppler
Name[bg]=Poppler
Name[bs]=Poppler
Name[ca]=Poppler
Name[ca@valencia]=Poppler
Name[cs]=Poppler
Name[da]=Poppler
Name[de]=Poppler
Name[el]=Poppler
Name[en_GB]=Poppler
Name[eo]=Poppler
Name[es]=Poppler
Name[et]=Poppler
Name[eu]=Poppler
Name[fi]=Poppler
Name[fr]=Poppler
Name[ga]=Poppler
Name[gl]=Poppler
Name[hi]=पॉपलर
Name[hne]=पापलर
Name[hr]=Poppler
Name[hu]=Poppler-beolvasó
Name[ia]=Poppler
Name[is]=Poppler
Name[it]=Poppler
Name[ja]=Poppler
Name[kk]=Poppler
Name[km]=Poppler
Name[ko]=Poppler
Name[ku]=Poppler
Name[lt]=Poppler
Name[lv]=Poppler
Name[mr]=Poppler
Name[nb]=Poppler
Name[nds]=Poppler
Name[ne]=पप्प्लर
Name[nl]=Poppler
Name[nn]=Poppler
Name[pa]=ਪੋਪੱਲਰ
Name[pl]=Poppler
Name[pt]=Poppler
Name[pt_BR]=Poppler
Name[ro]=Poppler
Name[ru]=Poppler
Name[sk]=Poppler
Name[sl]=Poppler
Name[sq]=Poppler
Name[sr]=Поплер
Name[sr@ijekavian]=Поплер
Name[sr@ijekavianlatin]=Poppler
Name[sr@latin]=Poppler
Name[sv]=Poppler
Name[th]=Poppler
Name[tr]=Poppler
Name[ug]=Poppler
Name[uk]=Poppler
Name[vi]=Poppler
Name[x-test]=xxPopplerxx
Name[zh_CN]=Poppler
Name[zh_TW]=Poppler
Comment=PDF backend for Okular using poppler
Comment[ar]=المنتهى الخلفي PDF لأوكلار
Comment[ast]=Motor PDF pa Okular qu'usa Poppler
Comment[bg]=Ядро на Okular за PDF, използващо poppler
Comment[bs]=Pozadina PDF-a za Okular koristeći Poppler
Comment[ca]=Dorsal de PDF per a l'Okular emprant el poppler
Comment[ca@valencia]=Dorsal de PDF per a l'Okular emprant el poppler
Comment[cs]=Implementace PDF pro Okular používající poppler
Comment[da]=PDF-motor til Okular som bruger poppler
Comment[de]=Anzeigemodul für PDF (mittels Poppler) in Okular
Comment[el]=Σύστημα υποστήριξης PDF για το Okular με χρήση του poppler
Comment[en_GB]=PDF backend for Okular using poppler
Comment[es]=Motor PDF para Okular que usa Poppler
Comment[et]=Okulari PDF-i taustaprogramm poppleri vahendusel
Comment[eu]=Okular-en PDF motorra poppler erabiliz
Comment[fi]=Poppler-kirjastoa käyttävä PDF-taustaosa Okularille
Comment[fr]=Moteur PDF pour Okular, utilisant « poppler »
Comment[ga]=Inneall PDF a úsáideann poppler le haghaidh Okular
Comment[gl]=Infraestrutura de PDF mediante poppler para Okular
Comment[hne]=ओकुलर बर पापलर के परयोग करत पीडीएफ बैकएन्ड
Comment[hr]=Podrška za PDF kroz poppler za Okular
Comment[hu]=Poppler-alapú PDF-kezelő bővítmény az Okularhoz
Comment[ia]=Retro-administration per PDF  pro Okular usante poppler
Comment[is]=PDF stuðningur fyrir Okular í gegnum Poppler
Comment[it]=Backend PDF per Okular che utilizza poppler
Comment[ja]=Okular の PDF バックエンド (poppler を使用)
Comment[kk]=Okular-дың poppler-ді қолданатын PDF тетігі
Comment[km]=ផ្នែក​ខាង​ក្រោយ​របស់ PDF សម្រាប់ Okular ដោយ​ប្រើ poppler
Comment[ko]=poppler를 사용하는 Okular PDF 백엔드
Comment[ku]=Binesazî ya PDF ji bo Okular bi bikaranîna poppler
Comment[lt]=PDF programinė sąsaja, skirta Okular, naudojanti „poppler“
Comment[lv]=PDF Okular aizmugure, lietojot poppler
Comment[mr]=ओक्युलर करिता poppler वापरणारे PDF बॅकएन्ड
Comment[nb]=PDF-motor (som bruker poppler) for Okular
Comment[nds]=PDF-Hülpprogramm för Okular, bruukt Poppler
Comment[nl]=PDF-backend voor Okular, gebruik makend van Poppler
Comment[nn]=PDF-motor (som brukar poppler) for Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ ਪੋਪਲਰ ਦੀ ਵਰਤੋਂ ਕਰਕੇ PDF ਬੈਕਐਂਡ
Comment[pl]=Obsługa PDF dla Okulara przy użyciu poppler
Comment[pt]=Infra-estrutura de PDF para o Okular, usando o poppler
Comment[pt_BR]=Infraestrutura PDF para o Okular usando o poppler
Comment[ro]=Platformă PDF pentru Okular utilizînd poppler
Comment[ru]=Модуль поддержки формата PDF для Okular посредством poppler
Comment[sk]=Backend PDF pre Okular použitím poppler
Comment[sl]=Zaledje PDF za Okular (uporablja Poppler)
Comment[sq]=Mbështetje për PDF në Okular duke përdorur poppler
Comment[sr]=Позадина ПДФ‑а за Окулар, кроз Поплер
Comment[sr@ijekavian]=Позадина ПДФ‑а за Окулар, кроз Поплер
Comment[sr@ijekavianlatin]=Pozadina PDF‑a za Okular, kroz Poppler
Comment[sr@latin]=Pozadina PDF‑a za Okular, kroz Poppler
Comment[sv]=PDF-gränssnitt för Okular som använder Poppler
Comment[th]=แบ็กเอนด์เอกสาร PDF สำหรับโอกูลาร์ โดยใช้ Poppler
Comment[tr]=Okular için poppler kullanan PDF arka ucu
Comment[uk]=Додаток PDF для Okular з використанням poppler
Comment[x-test]=xxPDF backend for Okular using popplerxx
Comment[zh_CN]=使用 poppler 的 Okular PDF 格式后端
Comment[zh_TW]=Okular 使用 poppler 的 PDF 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=application/x-pdf;application/pdf;application/x-wwf;
X-KDE-Library=okularGenerator_poppler
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=true
