[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Poppler
Name[pa]=ਪੋਪੱਲਰ
Name[x-test]=xxPopplerxx
Comment=PDF backend for okular using poppler
Comment[el]=Σύστημα υποστήριξης PDF για το okular με χρήση του poppler
Comment[ja]=okular の PDF バックエンド (poppler を使用)
Comment[pt]=Infra-estrutura de PDF para o okular, usando o poppler
Comment[pt_BR]=Infra-estrutura de PDF para o okular, usando o poppler
Comment[sv]=PDF-gränssnitt för Okular som använder Poppler
Comment[x-test]=xxPDF backend for okular using popplerxx
Comment[zh_TW]=okular 使用 poppler 的 PDF 後端
ServiceTypes=okular/Generator
MimeType=application/x-pdf;application/pdf
X-KDE-Library=libokularGenerator_poppler
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
