[Desktop Entry]
Type=Service
Name=Poppler
Name[ne]=पप्प्लर
Name[pa]=ਪੋਪੱਲਰ
Name[x-test]=xxPopplerxx
Comment=PDF backend for okular using poppler
Comment[bg]=PDF backend за okular, използва се poppler
Comment[ca]=Dorsal de PDF per l'okular emprant el poppler
Comment[de]=Unterstützung für PDF (mittels Poppler) in Okular
Comment[el]=Σύστημα υποστήριξης PDF για το okular με χρήση του poppler
Comment[eo]=PDF interno por okular uzante poppler
Comment[es]=Motor PDF para Okular que usa Poppler
Comment[et]=Okulari PDF-i taustaprogramm poppleri vahendusel
Comment[fi]=Poppler-kirjastoa käyttävä PDF-taustaosa ohjelmaa okular varten
Comment[fr]=Interface d'okular pour les PDf (utilise poppler)
Comment[gl]=Infraestrutura de PDF mediante poppler para okular
Comment[is]=PDF stuðningur fyrir Okular í gegnum Poppler
Comment[it]=Backend PDF per okular che utilizza poppler
Comment[ja]=okular の PDF バックエンド (poppler を使用)
Comment[ko]=poppler를 사용하는 okular PDF 백엔드
Comment[lv]=PDF aizmugure priekš okular, lietojot poppler
Comment[nds]=PDF-Hülpprogramm för Okular mit Poppler
Comment[ne]=पप्प्लर प्रयोग गरिरहेको ओकुलरका लागि पीडीएफ ब्याकइन्ड
Comment[nl]=PDF-backend voor Okular, gebruik makend van Poppler
Comment[pl]=Obsługa PDF dla okulara przy użyciu poppler
Comment[pt]=Infra-estrutura de PDF para o okular, usando o poppler
Comment[pt_BR]=Infra-estrutura de PDF para o okular, usando o poppler
Comment[sv]=PDF-gränssnitt för Okular som använder Poppler
Comment[uk]=Втулка PDF для okular з використанням poppler
Comment[x-test]=xxPDF backend for okular using popplerxx
Comment[zh_CN]=使用 poppler 的 okular PDF 格式后端
Comment[zh_TW]=okular 使用 poppler 的 PDF 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=application/x-pdf;application/pdf;
X-KDE-Library=okularGenerator_poppler
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
