[Desktop Entry]
Encoding=UTF-8
MimeType=application/pdf;application/x-gzpdf;application/x-bzpdf;
Terminal=false
Name=okular
Name[de]=Okular
Name[es]=Okular
Name[ne]=ओकुलर
Name[nl]=Okular
Name[pa]=ਓਕੁਲਾਰ
Name[sv]=Okular
Name[x-test]=xxokularxx
GenericName=Document Viewer
GenericName[bg]=Визуализатор
GenericName[ca]=Visualitzador de documents
GenericName[de]=Dokumentenbetrachter
GenericName[el]=Προβολέας εγγράφων
GenericName[es]=Visor de documentos
GenericName[fa]=مشاهده‌گر سند
GenericName[ga]=Amharcán Cáipéisí
GenericName[is]=Skjalaskoðari
GenericName[ja]=文書ビューア
GenericName[ne]=कागजात दर्शक
GenericName[nl]=Documentenviewer
GenericName[pa]=ਦਸਤਾਵੇਜ਼ ਦਰਸ਼ਕ
GenericName[pt]=Visualizador de Documentos
GenericName[pt_BR]=Visualizador de Documentos
GenericName[sv]=Dokumentvisare
GenericName[x-test]=xxDocument Viewerxx
GenericName[zh_TW]=文件檢視器
Exec=okular %U %i -caption "%c"
Icon=okular
Type=Application
DocPath=okular/index.html
InitialPreference=7
Categories=Qt;KDE;Graphics;Viewer;
NoDisplay=true
