[Desktop Entry]
Encoding=UTF-8
Icon=okular
Name=okular
Name[de]=Okular
Name[es]=Okular
Name[pa]=ਓਕੁਲਾਰ
Name[sv]=Okular
Name[x-test]=xxokularxx
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libokularpart
Type=Service
MimeType=application/x-pdf;application/pdf
