[Desktop Entry]
Type=Service
Name=Epub document
Name[es]=Documento EPub
Name[fi]=EPub-asiakirja
Name[ga]=Cáipéis EPub
Name[ja]=Epub 文書
Name[km]=ឯកសារ EPub
Name[pt]=Documento do EPub
Name[pt_BR]=Documento EPub
Name[th]=เอกสาร EPub
Name[zh_TW]=EPub 文件
Comment=Epub backend for Okular
Comment[es]=Motor EPub para Okular
Comment[fi]=EPub-taustaosa Okular-lukijalle
Comment[ga]=Inneall Epub le haghaidh Okular
Comment[ja]=Okular の Epub バックエンド
Comment[km]=កម្មវិធី​ខាងក្រោយ Epub សម្រាប់ Okular
Comment[pt]=Infra-estrutura do EPub para o Okular
Comment[pt_BR]=Backend Epub para o Okular
Comment[th]=แบ็คเอนต์เอกสาร EPub สำหรับ Okular
Comment[zh_TW]=Okular 的 EPub 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=application/epub+zip;
X-KDE-Library=okularGenerator_epub
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
