[Desktop Entry]
Type=Service
Name=EPub document
Name[ca]=Document EPub
Name[el]=Έγγραφο EPub
Name[es]=Documento EPub
Name[fi]=EPub-asiakirja
Name[ga]=Cáipéis EPub
Name[is]=EPub skjal
Name[ja]=EPub 文書
Name[km]=ឯកសារ EPub
Name[pt]=Documento do EPub
Name[pt_BR]=Documento EPub
Name[sv]=Epub-dokument
Name[th]=เอกสาร EPub
Name[tr]=EPub belgesi
Name[uk]=Документ EPub
Name[x-test]=xxEPub documentxx
Name[zh_CN]=EPub 文档
Name[zh_TW]=EPub 文件
Comment=EPub backend for Okular
Comment[ca]=Dorsal d'EPub per l'Okular
Comment[el]=Σύστημα υποστήριξης EPub για το Okular
Comment[es]=Motor EPub para Okular
Comment[ga]=Inneall EPub le haghaidh Okular
Comment[is]=EPub stuðningur fyrir Okular
Comment[ja]=Okular の EPub バックエンド
Comment[km]=កម្មវិធី​ខាងក្រោយ EPub សម្រាប់ Okular
Comment[pt]=Infra-estrutura do EPub para o Okular
Comment[pt_BR]=Backend Epub para o Okular
Comment[sv]=Epub-gränssnitt för Okular
Comment[tr]=Okular için EPub arka ucu
Comment[uk]=Втулка EPub для Okular
Comment[x-test]=xxEPub backend for Okularxx
Comment[zh_CN]=Okular 的 EPub 格式后端
Comment[zh_TW]=Okular 的 EPub 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=application/epub+zip;
X-KDE-Library=okularGenerator_epub
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
