[Desktop Entry]
Type=Service
Name=EPub document
Name[es]=Documento EPub
Name[fi]=EPub-asiakirja
Name[ga]=Cáipéis EPub
Name[ja]=Epub 文書
Name[km]=ឯកសារ EPub
Name[pt]=Documento do EPub
Name[pt_BR]=Documento EPub
Name[th]=เอกสาร EPub
Name[zh_TW]=EPub 文件
Comment=EPub backend for Okular
X-KDE-ServiceTypes=okular/Generator
MimeType=application/epub+zip;
X-KDE-Library=okularGenerator_epub
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
