[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Ghostscript
Comment=Ghostscript PS/PDF backend for okular
ServiceTypes=okular/Generator
MimeType=application/postscript;image/x-eps;
X-KDE-Library=libokularGenerator_ghostview
X-KDE-Priority=2
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=true
