[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Ghostscript
Comment=Ghostscript PS/PDF backend for oKular
ServiceTypes=oKular/Generator
MimeType=application/postscript;image/x-eps;
X-KDE-Library=libokularGenerator_ghostview.la
X-KDE-Priority=2
X-KDE-oKularAPIVersion=1
X-KDE-oKularHasInternalSettings=true
