[Desktop Entry]
Name=Reader
GenericName=Document viewer
Comment=Viewer for various types of documents

Exec=active-documentviewer %u
Terminal=false
Icon=okular
Type=Application
Categories=Qt;KDE;Graphics;Office;Viewer;
InitialPreference=2
NoDisplay=true
MimeType=application/x-chm;
X-KDE-Keywords=chm