[Desktop Entry]
Type=Service
Name=chmlib
Name[hi]=सीएचएमलिब
Name[x-test]=xxchmlibxx
Comment=Windows HTMLHelp backend for Okular
Comment[el]=Σύστημα υποστήριξης βοήθειας Windows σε HTML για το Okular
Comment[ga]=Inneall HTMLHelp Windows le haghaidh Okular
Comment[ja]=Okular の Windows HTMLHelp バックエンド
Comment[km]=ផ្នែក​ខាង​ក្រោយ​ HTMLHelp របស់​វីនដូ​សម្រាប់ Okular
Comment[nds]=En Okular-Hülpprogramm för HTML-Hülpdateien vun Windows
Comment[pt_BR]=Backend do Windows HTMLHelp para Okular
Comment[tr]=Okular için Windows HTMLHelp arka ucu
Comment[uk]=Втулка Windows HTMLHelp для okular
Comment[zh_CN]=Okular 的 Windows HTMLHelp 格式后端
Comment[zh_TW]=Okular 的 Windows HTMLHelp 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=application/x-chm;
X-KDE-Library=okularGenerator_chmlib
X-KDE-Priority=2
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
