[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=chmlib
Name[x-test]=xxchmlibxx
Comment=Windows HTMLHelp backend for okular
Comment[bg]=Windows HTMLHelp backend за Okular
Comment[ca]=Dorsal pels HTMLHelp de Windows per l'okular
Comment[de]=Unterstützung für Windows-Hilfe-Dateien in Okular
Comment[el]=Σύστημα υποστήριξης βοήθειας Windows σε HTML για το okular
Comment[es]=Motor de archivos de ayuda en HTML de Windows para Okular
Comment[et]=Okulari Windowsi HTMLHelp-failide taustaprogramm
Comment[gl]=Infraestrutura de ficheiros Windows HTMLHelp para okular
Comment[is]=Windows HTMLHelp stuðningur fyrir Okular
Comment[ja]=okular の Windows HTMLHelp バックエンド
Comment[ko]=okular의 윈도 HTMLHelp 백엔드
Comment[nds]=En Okular-Hülpprogramm för HTML-Hülpdateien vun Windows
Comment[ne]=ओकुलरका लागि विन्डोज एचटीएमएल मद्दत ब्याकइन्ड
Comment[nl]=Windows HTMLHelp-backend voor Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ ਵਿੰਡੋ HTMLHelp ਬੈਕਐਂਡ
Comment[pt]=Infra-estrutura de HTMLHelp do Windows para o okular
Comment[pt_BR]=Infra-estrutura de HTMLHelp do Windows para o okular
Comment[sv]=Windows HTMLHelp-gränssnitt för Okular
Comment[x-test]=xxWindows HTMLHelp backend for okularxx
Comment[zh_CN]=okular 的 Windows HTMLHelp 格式后端
Comment[zh_TW]=okular 的 Windows HTMLHelp 後端
ServiceTypes=okular/Generator
MimeType=application/x-chm;
X-KDE-Library=libokularGenerator_chmlib
X-KDE-Priority=2
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
