[Desktop Entry]
Type=Service
Name=dvi
Name[hi]=डीवीआई
Name[x-test]=xxdvixx
Comment=DVI backend for Okular
Comment[el]=Σύστημα υποστήριξης DVI για το Okular
Comment[ga]=Inneall DVI le haghaidh Okular
Comment[km]=ផ្នែក​ខាង​ក្រោយ​ DVI សម្រាប់ Okular
Comment[nds]=DVI-Hülpprogramm för Okular
Comment[pt_BR]=Backend DVI para Okular
Comment[tr]=Okular için DVI arka ucu
Comment[zh_TW]=Okular 的 DVI 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=application/x-dvi;
X-KDE-Library=okularGenerator_dvi
X-KDE-Priority=2
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
