[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=dvi
Name[x-test]=xxdvixx
Comment=DVI backend for okular
Comment[bg]=DVI backend за okular
Comment[ca]=Dorsal de DVI per l'okular
Comment[de]=Unterstützung für DVI in Okular
Comment[el]=Σύστημα υποστήριξης DVI για το okular
Comment[es]=Motor DVI para Okular
Comment[et]=Okulari DVI taustaprogramm
Comment[gl]=Infraestrutura de DVI para okular
Comment[ja]=okular の DVI バックエンド
Comment[ko]=okular의 DVI 백엔드
Comment[nds]=DVI-Hülpprogramm för Okular
Comment[ne]=ओकुलरका लागि डीभीआई ब्याकइन्ड
Comment[nl]=DVI-backend voor Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ DVI ਬੈਕਐਂਡ
Comment[pt]=Infra-estrutura de DVI para o okular
Comment[pt_BR]=Infra-estrutura de DVI para o okular
Comment[sv]=DVI-gränssnitt för Okular
Comment[x-test]=xxDVI backend for okularxx
Comment[zh_CN]=okular 的 DVI 格式后端
Comment[zh_TW]=okular 的 DVI 後端
ServiceTypes=okular/Generator
MimeType=application/x-dvi
X-KDE-Library=libokularGenerator_dvi
X-KDE-Priority=2
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
