[Desktop Entry]
MimeType=application/x-dvi;application/x-gzdvi;application/x-bzdvi;
Terminal=false
Name=okular
Name[de]=Okular
Name[es]=Okular
Name[hi]=ऑकुलर
Name[nds]=Okular
Name[ne]=ओकुलर
Name[nl]=Okular
Name[pa]=ਓਕੁਲਾਰ
Name[sv]=Okular
Name[x-test]=xxokularxx
GenericName=Document Viewer
GenericName[bg]=Визуализатор
GenericName[ca]=Visualitzador de documents
GenericName[cs]=Prohlížeč dokumentů
GenericName[de]=Dokumentenbetrachter
GenericName[el]=Προβολέας εγγράφων
GenericName[eo]=Dokumenta rigardilo
GenericName[es]=Visor de documentos
GenericName[et]=Dokumendinäitaja
GenericName[fa]=مشاهده‌گر سند
GenericName[fi]=Asiakirjan näyttöohjelma
GenericName[fr]=Visionneuse de document
GenericName[ga]=Amharcán Cáipéisí
GenericName[gl]=Visor de documentos
GenericName[hi]=दस्तावेज़ प्रदर्शक
GenericName[is]=Skjalaskoðari
GenericName[it]=Visore di documenti
GenericName[ja]=文書ビューア
GenericName[kk]=Құжатты қарау
GenericName[km]=កម្មវិធី​មើល​ឯកសារ
GenericName[ko]=문서 뷰어
GenericName[lv]=Dokumentu skatītājs
GenericName[nds]=Dokmentkieker
GenericName[ne]=कागजात दर्शक
GenericName[nl]=Documentenviewer
GenericName[oc]=Visualizaire de documents
GenericName[pa]=ਦਸਤਾਵੇਜ਼ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka dokumentów
GenericName[pt]=Visualizador de Documentos
GenericName[pt_BR]=Visualizador de Documentos
GenericName[sl]=Pregledovalnik dokumentov
GenericName[sv]=Dokumentvisare
GenericName[uk]=Переглядач документів
GenericName[x-test]=xxDocument Viewerxx
GenericName[zh_CN]=文档查看器
GenericName[zh_TW]=文件檢視器
Exec=okular %U %i -caption "%c"
Icon=graphics-viewer-document
Type=Application
InitialPreference=7
Categories=Qt;KDE;Graphics;Viewer;
NoDisplay=true
