[Desktop Entry]
Type=Service
Name=Okular XPS Plugin
Name[el]=Πρόσθετο XPS του Okular
Name[es]=Complemento XPS de Okular
Name[fi]=XPS-liitännäinen ohjelmaa Okular varten
Name[ga]=Breiseán XPS Okular
Name[is]=Okular XPS íforritið
Name[ja]=Okular XPS プラグイン
Name[km]=កម្មវិធី​ជំនួយ Okular XPS
Name[nds]=XPS-Moduul för Okular
Name[pt]='Plugin' de XPS do Okular
Name[pt_BR]=Plug-in XPS para Okular
Name[th]=ปลั๊กอินจัดการแฟ้ม XPS สำหรับ Okular
Name[tr]=Okular XPS Eklentisi
Name[uk]=Додаток XPS для Okular
Name[zh_CN]=Okular XPS 插件
Name[zh_TW]=Okular XPS 外掛程式
Comment=XPS backend for Okular
Comment[el]=Σύστημα υποστήριξης XPS για το Okular
Comment[es]=Motor XPS para Okular
Comment[fi]=XPS-taustaosa ohjelmaa Okular varten
Comment[ga]=Inneall XPS le haghaidh Okular
Comment[is]=XPS stuðningur fyrir Okular
Comment[ja]=Okular の XPS バックエンド
Comment[km]=ផ្នែក​ខា​ងក្រោយ XPS សម្រាប់ Okular
Comment[nds]=XPS-Hülpprogramm för Okular
Comment[pt]=Infra-estrutura de XPS para o Okular
Comment[pt_BR]=Backend XPS para Okular
Comment[th]=แบ็คเอนต์แฟ้ม XPS สำหรับ Okular
Comment[tr]=Okular için XPS arka ucu
Comment[uk]=Втулка XPS для Okular
Comment[zh_CN]=Okular 的 XPS 格式后端
Comment[zh_TW]=Okular 的 XPS 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=application/vnd.ms-xpsdocument;
X-KDE-Library=okularGenerator_xps
X-KDE-Priority=4
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
