[Desktop Entry]
Type=Service
Name=Okular XPS Plugin
Comment=XPS backend for Okular
X-KDE-ServiceTypes=okular/Generator
MimeType=application/vnd.ms-xpsdocument;
X-KDE-Library=okularGenerator_xps
X-KDE-Priority=4
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
