[Desktop Entry]
Type=Service
Name=OpenDocument format
Name[ar]=نسق OpenDocument
Name[ast]=Formatu OpenDocument
Name[bg]=Формат OpenDocument
Name[bs]=ODF
Name[ca]=Format OpenDocument
Name[ca@valencia]=Format OpenDocument
Name[cs]=OpenDocument formát
Name[da]=OpenDocument-format
Name[de]=OpenDocument-Format
Name[el]=Μορφή OpenDocument
Name[en_GB]=OpenDocument format
Name[eo]=OpenDocument formato
Name[es]=Formato OpenDocument
Name[et]=OpenDocumenti vorming
Name[eu]=OpenDocument formatua
Name[fi]=OpenDocument-muoto
Name[fr]=Format « OpenDocument »
Name[ga]=Formáid OpenDocument
Name[gl]=Formato OpenDocument
Name[hi]=ओपनडाक्यूमेंट फ़ॉर्मेट
Name[hne]=ओपनडाक्यूमेंट फारमेट
Name[hr]=Oblik OpenDocument
Name[hu]=OpenDocument-beolvasó
Name[ia]=Formato OpenDocument
Name[is]=OpenDocument snið
Name[it]=Formato OpenDocument
Name[ja]=OpenDocument フォーマット
Name[kk]=OpenDocument пішімі
Name[km]=ទ្រង់ទ្រាយ OpenDocument
Name[ko]=OpenDocument 형식
Name[ku]=Teşeya OpenDocument
Name[lt]=OpenDocument formatas
Name[lv]=OpenDocument formāts
Name[mr]=ओपनडोक्युमेंट फॉर्मेट
Name[nb]=OpenDocument-format
Name[nds]=OpenDocument-Formaat
Name[ne]=खुला कागजात ढाँचा
Name[nl]=OpenDocument-formaat
Name[nn]=OpenDocument-format
Name[pa]=OpenDocument ਫਾਰਮੈਟ
Name[pl]=Format OpenDocument
Name[pt]=Formato OpenDocument
Name[pt_BR]=Formato OpenDocument
Name[ro]=Format OpenDocument
Name[ru]=Формат OpenDocument
Name[sk]=OpenDocument formát
Name[sl]=Oblika OpenDocument
Name[sq]=OpenDocument format
Name[sr]=ОДФ
Name[sr@ijekavian]=ОДФ
Name[sr@ijekavianlatin]=ODF
Name[sr@latin]=ODF
Name[sv]=OpenDocument-format
Name[th]=แฟ้มแบบ OpenDocument
Name[tr]=OpenDocument biçimi
Name[ug]=OpenDocument پىچىمى
Name[uk]=Формат OpenDocument
Name[vi]=Tập tin OpenDocument
Name[x-test]=xxOpenDocument formatxx
Name[zh_CN]=开放文档格式
Name[zh_TW]=OpenDocument 格式
Comment=OpenDocument backend for Okular
Comment[ar]=المنتهى الخلفي OpenDocument لأوكلار
Comment[ast]=Motor OpenDocument pa Okular
Comment[bg]=Ядро на Okular за OpenDocument
Comment[bs]=Pozadina ODF-a za Okular
Comment[ca]=Dorsal d'OpenDocument per a l'Okular
Comment[ca@valencia]=Dorsal d'OpenDocument per a l'Okular
Comment[cs]=Implementace OpenDocument pro Okular
Comment[da]=OpenDocument-motor til Okular
Comment[de]=Anzeigemodul für OpenDocument in Okular
Comment[el]=Σύστημα υποστήριξης OpenDocument για το Okular
Comment[en_GB]=OpenDocument backend for Okular
Comment[es]=Motor OpenDocument para Okular
Comment[et]=Okulari OpenDocumenti taustaprogramm
Comment[eu]=Okular-en OpenDocument motorra
Comment[fi]=OpenDocument-taustaosa Okularille
Comment[fr]=Moteur « OpenDocument » pour Okular
Comment[ga]=Inneall OpenDocument le haghaidh Okular
Comment[gl]=Infraestrutura de OpenDocument para Okular
Comment[hne]=ओकुलर बर ओपनडाक्यूमेंट बैकएन्ड
Comment[hr]=Podrška za OpenDocument za Okular
Comment[hu]=OpenDocument-bővítmény az Okularhoz
Comment[ia]=Retro-administration per OpenDocument pro Okular
Comment[is]=OpenDocument stuðningur fyrir Okular
Comment[it]=Backend OpenDocument per Okular
Comment[ja]=Okular の OpenDocument バックエンド
Comment[kk]=Okular-дың OpenDocument тетігі
Comment[km]=ផ្នែក​ខាង​ក្រោយ​របស់ OpenDocument សម្រាប់ Okular
Comment[ko]=Okular의 OpenDocument 백엔드
Comment[ku]=Binesazî ya OpenDocument ji bo Okular
Comment[lt]=OpenDocument programinė sąsaja, skirta Okular
Comment[lv]=OpenDocument Okular aizmugure
Comment[mr]=ओक्युलर करिता ओपनडोक्युमेंट बॅकएन्ड
Comment[nb]=OpenDocument-motor for Okular
Comment[nds]=OpenDocument-Hülpprogramm för Okular
Comment[nl]=OpenDocument-backend voor Okular
Comment[nn]=OpenDocument-motor for Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ OpenDocument ਬੈਕਐਂਡ
Comment[pl]=Obsługa formatu OpenDocument dla Okulara
Comment[pt]=Infra-estrutura de OpenDocument para o Okular
Comment[pt_BR]=Infraestrutura OpenDocument para o Okular
Comment[ro]=Platformă OpenDocument pentru Okular
Comment[ru]=Модуль поддержки формата OpenDocument для Okular
Comment[sk]=Backend OpenDocument pre Okular
Comment[sl]=Zaledje OpenDocument za Okular
Comment[sq]=Mbështetje OpenDocument për Okular
Comment[sr]=Позадина ОДФ‑а за Окулар
Comment[sr@ijekavian]=Позадина ОДФ‑а за Окулар
Comment[sr@ijekavianlatin]=Pozadina ODF‑a za Okular
Comment[sr@latin]=Pozadina ODF‑a za Okular
Comment[sv]=OpenDocument-gränssnitt för Okular
Comment[th]=แบ็กเอนด์แฟ้มแบบ OpenDocument สำหรับโอกูลาร์
Comment[tr]=Okular için OpenDocument arka ucu
Comment[uk]=Додаток OpenDocument для Okular
Comment[x-test]=xxOpenDocument backend for Okularxx
Comment[zh_CN]=Okular 的开放文档格式后端
Comment[zh_TW]=Okular 的 OpenDocument 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=application/vnd.oasis.opendocument.text;
X-KDE-Library=okularGenerator_ooo
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=true
