[Desktop Entry]
Type=Service
Name=OpenDocument format
Name[bg]=Формат OpenDocument
Name[ca]=Format OpenDocument
Name[cs]=OpenDocument formát
Name[de]=OpenDocument-Format
Name[el]=Μορφή OpenDocument
Name[eo]=OpenDocument formato
Name[es]=Formato OpenDocument
Name[et]=OpenDocumenti vorming
Name[fi]=OpenDocument -muoto
Name[fr]=Format OpenDocument
Name[ga]=Formáid OpenDocument
Name[gl]=Formato OpenDocument
Name[hi]=ओपनडाक्यूमेंट फ़ॉर्मेट
Name[is]=OpenDocument snið
Name[it]=Formato OpenDocument
Name[ja]=OpenDocument フォーマット
Name[km]=ទ្រង់ទ្រាយ OpenDocument
Name[ko]=OpenDocument 형식
Name[lv]=OpenDocument formāts
Name[nds]=OpenDocument-Formaat
Name[ne]=खुला कागजात ढाँचा
Name[nl]=OpenDocument-formaat
Name[pa]=OpenDocument ਫਾਰਮੈਟ
Name[pl]=Format OpenDocument
Name[pt]=Formato OpenDocument
Name[pt_BR]=Formato OpenDocument
Name[sl]=Oblika OpenDocument
Name[sv]=OpenDocument-format
Name[uk]=Формат OpenDocument
Name[vi]=Tập tin OpenDocument
Name[x-test]=xxOpenDocument formatxx
Name[zh_CN]=开放文档格式
Name[zh_TW]=OpenDocument 格式
Comment=OpenDocument backend for Okular
Comment[el]=Σύστημα υποστήριξης OpenDocument για το Okular
Comment[ga]=Inneall OpenDocument le haghaidh Okular
Comment[nds]=OpenDocument-Hülpprogramm för Okular
Comment[pt_BR]=Backend OpenDocument para Okular
Comment[zh_TW]=Okular 的 OpenDocument 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=application/vnd.oasis.opendocument.text;
X-KDE-Library=okularGenerator_ooo
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
