[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=OpenDocument format
Name[pa]=OpenDocument ਫਾਰਮੈਟ
Name[sv]=OpenDocument-format
Name[x-test]=xxOpenDocument formatxx
Comment=OpenDocument backend for okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ OpenDocument ਬੈਕਐਂਡ
Comment[sv]=OpenDocument-gränssnitt för Okular
Comment[x-test]=xxOpenDocument backend for okularxx
ServiceTypes=okular/Generator
MimeType=application/vnd.oasis.opendocument.text
X-KDE-Library=libokularGenerator_ooo
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
