[Desktop Entry]
Icon=graphics-viewer-document
Name=okular
Name[de]=Okular
Name[es]=Okular
Name[nds]=Okular
Name[ne]=ओकुलर
Name[nl]=Okular
Name[pa]=ਓਕੁਲਾਰ
Name[sv]=Okular
Name[x-test]=xxokularxx
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libokularpart
Type=Service
MimeType=application/vnd.oasis.opendocument.text;
