[Desktop Entry]
Name=Document viewer
Name[bg]=Преглед на документи
Name[bs]=Prikazivač dokumenata
Name[ca]=Visualitzador de documents
Name[ca@valencia]=Visualitzador de documents
Name[cs]=Prohlížeč dokumentů
Name[da]=Dokumentfremviser
Name[de]=Dokumentenbetrachter
Name[el]=Προβολέας εγγράφων
Name[es]=Visor de documentos
Name[et]=Dokumendinäitaja
Name[fi]=Asiakirjakatselin
Name[fr]=Afficheur de documents
Name[ga]=Amharcán cáipéisí
Name[gl]=Visor de documentos
Name[hu]=Dokumentummegjelenítő
Name[ia]=Visor de documento
Name[is]=Skjalaskoðari
Name[it]=Visore di documenti
Name[kk]=Құжатты қарау құралы
Name[ko]=문서 뷰어
Name[lt]=Dokumentų žiūryklė
Name[mr]=दस्तऐवज प्रदर्शक
Name[nb]=Dokumentviser
Name[nds]=Dokmentkieker
Name[nl]=Documentenviewer
Name[pa]=ਡੌਕੂਮੈਂਟ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka dokumentów
Name[pt]=Visualizador de documentos
Name[pt_BR]=Visualizador de documentos
Name[ro]=Vizualizor de documente
Name[ru]=Просмотр документов
Name[sk]=Prehliadač dokumentov
Name[sl]=Pregledovalnik dokumentov
Name[sr]=Приказивач докумената
Name[sr@ijekavian]=Приказивач докумената
Name[sr@ijekavianlatin]=Prikazivač dokumenata
Name[sr@latin]=Prikazivač dokumenata
Name[sv]=Dokumentvisare
Name[tr]=Belge görüntüleyici
Name[uk]=Переглядач документів
Name[x-test]=xxDocument viewerxx
Name[zh_CN]=文档查看器
Name[zh_TW]=文件檢視器
Encoding=UTF-8
Type=Service
Icon=okular
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.documentviewer
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Office
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/main.qml
