[Desktop Entry]
Name=Document viewer
Name[ca]=Visualitzador de documents
Name[cs]=Prohlížeč dokumentů
Name[da]=Dokumentfremviser
Name[el]=Προβολέας εγγράφων
Name[es]=Visor de documentos
Name[et]=Dokumendinäitaja
Name[fi]=Asiakirjakatselin
Name[ga]=Amharcán cáipéisí
Name[hu]=Dokumentummegjelenítő
Name[it]=Visore di documenti
Name[lt]=Dokumentų žiūryklė
Name[nl]=Documentenviewer
Name[pa]=ਡੌਕੂਮੈਂਟ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka dokumentów
Name[pt]=Visualizador de documentos
Name[pt_BR]=Visualizador de documentos
Name[sk]=Prehliadač dokumentov
Name[sr]=Приказивач докумената
Name[sr@ijekavian]=Приказивач докумената
Name[sr@ijekavianlatin]=Prikazivač dokumenata
Name[sr@latin]=Prikazivač dokumenata
Name[sv]=Dokumentvisare
Name[uk]=Переглядач документів
Name[x-test]=xxDocument viewerxx
Name[zh_CN]=文档查看器
Name[zh_TW]=文件檢視器
Encoding=UTF-8
Type=Service
Icon=okular
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.active.documentviewer
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Office
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/main.qml
