[Desktop Entry]
Type=Service
Name=FictionBook document
Name[bg]=FictionBook документ
Name[ca]=Document FictionBook
Name[de]=Fictionbook-Dokument
Name[el]=Έγγραφο FictionBook
Name[eo]=FictionBook dokumento
Name[es]=Documento FictionBook
Name[et]=FictionBooki dokument
Name[gl]=Documento FictionBook
Name[is]=FictionBook skjal
Name[ja]=FictionBook 文書
Name[ko]=FictionBook 문서
Name[lv]=FictionBook dokuments
Name[nds]=FictionBook-Dokment
Name[ne]=फिक्सनबुक कागजात
Name[nl]=FictionBook-document
Name[pa]=FictionBook ਦਸਤਾਵੇਜ਼
Name[pl]=Dokument FictionBook
Name[pt]=Documento FictionBook
Name[pt_BR]=Documento FictionBook
Name[sv]=FictionBook-dokument
Name[uk]=Документ FictionBook
Name[x-test]=xxFictionBook documentxx
Name[zh_CN]=FictionBook 文档
Name[zh_TW]=FictionBook 文件
Comment=FictionBook backend for okular
Comment[bg]=FictionBook backend за okular
Comment[ca]=Dorsal de FictionBook per l'okular
Comment[de]=Unterstützung für Fictionbook in Okular
Comment[el]=Σύστημα υποστήριξης FictionBook για το okular
Comment[eo]=FictionBook interno por okular
Comment[es]=Motor FictionBook para Okular
Comment[et]=Okulari FictionBooki taustaprogramm
Comment[gl]=Infraestrutura FictionBook para okular
Comment[is]=FictionBook stuðningur fyrir Okular
Comment[ja]=okular の FictionBook バックエンド
Comment[ko]=okular의 FictoniBook 백엔드
Comment[lv]=FictionBook aizmugure priekš okular
Comment[nds]=FictionBook-Hülpprogramm för Okular
Comment[ne]=ओकुलरका लागि फिक्सनबुक ब्याकइन्ड
Comment[nl]=FictionBook-backend voor Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ FictionBook ਬੈਕਐਂਡ
Comment[pl]=Silnik dokumentu FictionBook okulara
Comment[pt]=Infra-estrutura de FictionBook para o okular
Comment[pt_BR]=Infra-estrutura de FictionBook para o okular
Comment[sv]=FictionBook-gränssnitt för Okular
Comment[uk]=Втулка FictionBook для okular
Comment[x-test]=xxFictionBook backend for okularxx
Comment[zh_CN]=okular 的 FictionBook 格式后端
Comment[zh_TW]=okular FictionBook 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=application/x-fb;
X-KDE-Library=okularGenerator_fb
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
