[Desktop Entry]
Type=Service
Name=FictionBook document
Name[bg]=FictionBook документ
Name[ca]=Document FictionBook
Name[de]=Fictionbook-Dokument
Name[el]=Έγγραφο FictionBook
Name[eo]=FictionBook dokumento
Name[es]=Documento FictionBook
Name[et]=FictionBooki dokument
Name[fi]=FictionBook-asiakirja
Name[fr]=Document "FictionBook"
Name[ga]=Cáipéis FictionBook
Name[gl]=Documento FictionBook
Name[hi]=फ़िक्शनबुक दस्तावेज़
Name[is]=FictionBook skjal
Name[it]=Documento FictionBook
Name[ja]=FictionBook 文書
Name[km]=ឯកសារ FictionBook
Name[ko]=FictionBook 문서
Name[lv]=FictionBook dokuments
Name[nb]=FictionBook-dokument
Name[nds]=FictionBook-Dokment
Name[ne]=फिक्सनबुक कागजात
Name[nl]=FictionBook-document
Name[nn]=FictionBook-dokument
Name[pa]=FictionBook ਦਸਤਾਵੇਜ਼
Name[pl]=Dokument FictionBook
Name[pt]=Documento FictionBook
Name[pt_BR]=Documento FictionBook
Name[sl]=Dokument FictionBook
Name[sv]=FictionBook-dokument
Name[th]=เอกสาร FictionBook
Name[tr]=FictionBook belgesi
Name[uk]=Документ FictionBook
Name[vi]=Tập tin FictionBook
Name[x-test]=xxFictionBook documentxx
Name[zh_CN]=FictionBook 文档
Name[zh_TW]=FictionBook 文件
Comment=FictionBook backend for Okular
Comment[el]=Σύστημα υποστήριξης FictionBook για το Okular
Comment[ga]=Inneall FictionBook le haghaidh Okular
Comment[ja]=Okular の FictionBook バックエンド
Comment[km]=ផ្នែក​ខាង​ក្រោយ​ FictionBook សម្រាប់ Okular
Comment[nds]=FictionBook-Hülpprogramm för Okular
Comment[pt]=Infra-estrutura de FictionBook para o Okular
Comment[pt_BR]=Backend FictionBook para Okular
Comment[th]=แบ็คเอนต์เอกสาร FictionBook สำหรับ Okular
Comment[tr]=Okular için FictionBook arka ucu
Comment[uk]=Втулка FictionBook для Okular
Comment[zh_CN]=Okular 的 FictionBook 格式后端
Comment[zh_TW]=Okular FictionBook 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=application/x-fictionbook;
X-KDE-Library=okularGenerator_fb
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
