[Desktop Entry]
Type=Service
Name=FictionBook document
Name[ar]=مستند فيكشن بوك
Name[ast]=Documentu FictionBook
Name[bg]=Документ FictionBook
Name[bs]=FictionBook dokument
Name[ca]=Document FictionBook
Name[ca@valencia]=Document FictionBook
Name[cs]=FictionBook dokument
Name[da]=FictionBook-dokument
Name[de]=FictionBook-Dokument
Name[el]=Έγγραφο FictionBook
Name[en_GB]=FictionBook document
Name[eo]=FictionBook dokumento
Name[es]=Documento FictionBook
Name[et]=FictionBooki dokument
Name[eu]=Fikzio-liburu dokumentua
Name[fi]=FictionBook-tiedosto
Name[fr]=Document « FictionBook »
Name[ga]=Cáipéis FictionBook
Name[gl]=Documento FictionBook
Name[hi]=फ़िक्शनबुक दस्तावेज़
Name[hne]=फिक्सनबुक कागद
Name[hr]=Dokument oblika FictionBook
Name[hu]=FictionBook-dokumentum
Name[ia]=Documento FictionBook
Name[is]=FictionBook skjal
Name[it]=Documento FictionBook
Name[ja]=FictionBook 文書
Name[kk]=FictionBook құжаты
Name[km]=ឯកសារ FictionBook
Name[ko]=FictionBook 문서
Name[ku]=Belgeya FictionBook
Name[lt]=FictionBook dokumentas
Name[lv]=FictionBook dokuments
Name[mr]=FictionBook दस्तऐवज
Name[nb]=FictionBook-dokument
Name[nds]=FictionBook-Dokment
Name[ne]=फिक्सनबुक कागजात
Name[nl]=FictionBook-document
Name[nn]=FictionBook-dokument
Name[pa]=FictionBook ਡੌਕੂਮੈਂਟ
Name[pl]=Dokument FictionBook
Name[pt]=Documento FictionBook
Name[pt_BR]=Documento FictionBook
Name[ro]=Document FictionBook
Name[ru]=Документ FictionBook
Name[sk]=FictionBook dokument
Name[sl]=Dokument FictionBook
Name[sq]=FictionBook dokument
Name[sr]=фикшнбук
Name[sr@ijekavian]=фикшнбук
Name[sr@ijekavianlatin]=FictionBook
Name[sr@latin]=FictionBook
Name[sv]=FictionBook-dokument
Name[th]=เอกสาร FictionBook
Name[tr]=FictionBook belgesi
Name[uk]=Документ FictionBook
Name[vi]=Tập tin FictionBook
Name[x-test]=xxFictionBook documentxx
Name[zh_CN]=FictionBook 文档
Name[zh_TW]=FictionBook 文件
Comment=FictionBook backend for Okular
Comment[ar]=المنتهى الخلفي FictionBook لأوكلار
Comment[ast]=Motor FictionBook pa Okular
Comment[bg]=Ядро на Okular за FictionBook
Comment[bs]=Pozadina FictionBook-a za Okular
Comment[ca]=Dorsal de FictionBook per a l'Okular
Comment[ca@valencia]=Dorsal de FictionBook per a l'Okular
Comment[cs]=Implementace FictionBook pro Okular
Comment[da]=FictionBook-motor til Okular
Comment[de]=Anzeigemodul für FictionBook in Okular
Comment[el]=Σύστημα υποστήριξης FictionBook για το Okular
Comment[en_GB]=FictionBook backend for Okular
Comment[es]=Motor FictionBook para Okular
Comment[et]=Okulari FictionBooki taustaprogramm
Comment[eu]=Okular-en fikzio-libururen motorra
Comment[fi]=FictionBook-taustaosa Okularille
Comment[fr]=Moteur FictionBook pour Okular 
Comment[ga]=Inneall FictionBook le haghaidh Okular
Comment[gl]=Infraestrutura de FictionBook para Okular
Comment[hne]=ओकुलर बर फिक्सनबुक बैकएन्ड
Comment[hr]=Podrška za FictionBook za Okular
Comment[hu]=FictionBook-kezelő bővítmény az Okularhoz
Comment[ia]=Retro-administration per FictionBook  pro Okular
Comment[is]=FictionBook stuðningur fyrir Okular
Comment[it]=Backend FictionBook per Okular
Comment[ja]=Okular の FictionBook バックエンド
Comment[kk]=Okular-дың FictionBook тетігі
Comment[km]=ផ្នែក​ខាង​ក្រោយ​ FictionBook សម្រាប់ Okular
Comment[ko]=Okular의 FictoniBook 백엔드
Comment[ku]=Binesazî ya FictionBook ji bo Okular
Comment[lt]=FictionBook programinė sąsaja, skirta Okular
Comment[lv]=FictionBook Okular aizmugure
Comment[mr]=ओक्युलर करिता FictionBook बॅकएन्ड
Comment[nb]=FictionBook-motor for Okular
Comment[nds]=FictionBook-Hülpprogramm för Okular
Comment[nl]=FictionBook-backend voor Okular
Comment[nn]=FictionBook-motor for Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ FictionBook ਬੈਕਐਂਡ
Comment[pl]=Silnik dokumentu FictionBook Okulara
Comment[pt]=Infra-estrutura de FictionBook para o Okular
Comment[pt_BR]=Infraestrutura FictionBook para o Okular
Comment[ro]=Platformă FictionBook pentru Okular
Comment[ru]=Модуль поддержки формата FictionBook для Okular
Comment[sk]=Backend FictionBook pre Okular
Comment[sl]=Zaledje FictionBook za Okular
Comment[sq]=FictionBook mbështetje për Okular
Comment[sr]=Позадина фикшнбука за Окулар
Comment[sr@ijekavian]=Позадина фикшнбука за Окулар
Comment[sr@ijekavianlatin]=Pozadina FictionBooka za Okular
Comment[sr@latin]=Pozadina FictionBooka za Okular
Comment[sv]=FictionBook-gränssnitt för Okular
Comment[th]=แบ็กเอนด์เอกสาร FictionBook สำหรับโอกูลาร์
Comment[tr]=Okular için FictionBook arka ucu
Comment[uk]=Додаток FictionBook для Okular
Comment[x-test]=xxFictionBook backend for Okularxx
Comment[zh_CN]=Okular 的 FictionBook 格式后端
Comment[zh_TW]=Okular FictionBook 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=application/x-fictionbook+xml;
X-KDE-Library=okularGenerator_fb
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=true
