[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-fb
Terminal=false
Name=okular
GenericName=Document Viewer
Exec=okular %U %i -caption "%c"
Icon=okular
Type=Application
DocPath=okular/index.html
InitialPreference=7
Categories=Qt;KDE;Graphics;Viewer;
NoDisplay=true
