[Desktop Entry]
Type=Service
Name=Okular TIFF Library
Name[el]=Βιβλιοθήκη TIFF του Okular
Name[es]=Biblioteca TIFF de Okular
Name[ga]=Leabharlann TIFF Okular
Name[ja]=Okular TIFF ライブラリ
Name[km]=បណ្ណាល័យ Okular TIFF
Name[nds]=TIFF-Bibliotheek för Okular
Name[pt]=Biblioteca de TIFF do Okular
Name[pt_BR]=Biblioteca TIFF para Okular
Name[th]=ไลบรารีจัดการแฟ้ม TIFF สำหรับ Okular
Name[tr]=Okular için TIFF Kütüphanesi
Name[uk]=Бібліотека TIFF для Okular
Name[zh_CN]=Okular TIFF 库
Name[zh_TW]=Okular TIFF 函式庫
Comment=TIFF backend for Okular
Comment[el]=Σύστημα υποστήριξης TIFF για το Okular
Comment[es]=Motor TIFF para Okular
Comment[ga]=Inneall TIFF le haghaidh Okular
Comment[ja]=Okular の TIFF バックエンド
Comment[km]=ផ្នែក​ខាង​ក្រោយ​ TIFF សម្រាប់ Okular
Comment[nds]=TIFF-Hülpprogramm för Okular
Comment[pt]=Infra-estrutura de TIFF para o Okular
Comment[pt_BR]=Backend TIFF para Okular
Comment[th]=แบ็คเอนต์จัดการแฟ้ม TIFF สำหรับ Okular
Comment[tr]=Okular için TIFF arka ucu
Comment[uk]=Втулка TIFF для Okular
Comment[zh_CN]=Okular 的 TIFF 格式后端
Comment[zh_TW]=Okular TIFF 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=image/tiff;
X-KDE-Library=okularGenerator_tiff
X-KDE-Priority=4
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
