[Desktop Entry]
Type=Service
Name=Okular TIFF Library
Name[ar]=مكتبة TIFF لأوكلار
Name[ast]=Biblioteca TIFF d'Okular
Name[bg]=Библиотека на Okular за TIFF
Name[bs]=Okular TIFF biblioteka
Name[ca]=Biblioteca TIFF de l'Okular
Name[ca@valencia]=Biblioteca TIFF de l'Okular
Name[cs]=Knihovna TIFF pro Okular
Name[da]=TIFF-bibliotek til Okular
Name[de]=TIFF-Bibliothek für Okular
Name[el]=Βιβλιοθήκη TIFF του Okular
Name[en_GB]=Okular TIFF Library
Name[es]=Biblioteca TIFF de Okular
Name[et]=Okulari TIFF-i teek
Name[eu]=Okular TIFF liburutegia
Name[fi]=TIFF-kirjasto Okularille
Name[fr]=Librairie « TIFF » pour Okular
Name[ga]=Leabharlann TIFF Okular
Name[gl]=Biblioteca TIFF de Okular
Name[hne]=ओकुलर टिफ लाइब्रेरी
Name[hr]=Biblioteka u Okularu za TIFF
Name[hu]=Okular TIFF-kezelő programkönyvtár
Name[ia]=Bibliotheca de TIFF de Okular
Name[is]=Okular TIFF skráasafn
Name[it]=Libreria TIFF di Okular
Name[ja]=Okular TIFF ライブラリ
Name[kk]=Okular TIFF жиын файлы
Name[km]=បណ្ណាល័យ Okular TIFF
Name[ko]=Okular TIFF 라이브러리
Name[ku]=Pirtûkxaneya Okular TIFF
Name[lt]=Okular TIFF biblioteka
Name[lv]=Okular TIFF bibliotēka
Name[mr]=ओक्युलर TIFF लायब्ररी
Name[nb]=Okular TIFF-bibliotek
Name[nds]=TIFF-Bibliotheek för Okular
Name[nl]=Okular TIFF-bibliotheek
Name[nn]=Okular TIFF-bibliotek
Name[pa]=ਓਕੁਲਾਰ TIFF ਲਾਇਬਰੇਰੀ
Name[pl]=Biblioteka TIFF Okulara
Name[pt]=Biblioteca de TIFF do Okular
Name[pt_BR]=Biblioteca TIFF para o Okular
Name[ro]=Bibliotecă TIFF pentru Okular
Name[ru]=Библиотека TIFF для Okular
Name[sk]=Knižnica TIFF pre Okular
Name[sl]=Okularjeva knjižnica za TIFF
Name[sq]=Okular TIFF Librari
Name[sr]=Окуларова ТИФФ библиотека
Name[sr@ijekavian]=Окуларова ТИФФ библиотека
Name[sr@ijekavianlatin]=Okularova TIFF biblioteka
Name[sr@latin]=Okularova TIFF biblioteka
Name[sv]=Okular TIFF-bibliotek
Name[th]=ไลบรารีจัดการแฟ้ม TIFF สำหรับโอกูลาร์
Name[tr]=Okular için TIFF Kitaplığı
Name[ug]=Okular TIFF ئامبىرى
Name[uk]=Бібліотека TIFF для Okular
Name[x-test]=xxOkular TIFF Libraryxx
Name[zh_CN]=Okular TIFF 库
Name[zh_TW]=Okular TIFF 函式庫
Comment=TIFF backend for Okular
Comment[ar]=المنتهى الخلفي TIFF لأوكلار
Comment[ast]=Motor TIFF pa Okular
Comment[bg]=Ядро на Okular за TIFF
Comment[bs]=Pozadina TIFF-a za Okular
Comment[ca]=Dorsal de TIFF per a l'Okular
Comment[ca@valencia]=Dorsal de TIFF per a l'Okular
Comment[cs]= Implementace TIFF pro Okular
Comment[da]=TIFF-motor til Okular
Comment[de]=Anzeigemodul für TIFF in Okular
Comment[el]=Σύστημα υποστήριξης TIFF για το Okular
Comment[en_GB]=TIFF backend for Okular
Comment[es]=Motor TIFF para Okular
Comment[et]=Okulari TIFF-i taustaprogramm
Comment[eu]=Okular-en TIFF motorra
Comment[fi]=TIFF-taustaosa Okularille
Comment[fr]=Moteur « TIFF » pour Okular
Comment[ga]=Inneall TIFF le haghaidh Okular
Comment[gl]=Infraestrutura de TIFF para Okular
Comment[hne]=ओकुलर बर टिफ बैकएन्ड
Comment[hr]=Podrška za TIFF za Okular
Comment[hu]=TIFF-bővítmény az Okularhoz
Comment[ia]=Retro-administration per TIFF  pro Okular
Comment[is]=TIFF stuðningur fyrir Okular
Comment[it]=Backend TIFF per Okular
Comment[ja]=Okular の TIFF バックエンド
Comment[kk]=Okular-дың TIFF тетігі
Comment[km]=ផ្នែក​ខាង​ក្រោយ​ TIFF សម្រាប់ Okular
Comment[ko]=Okular의 TIFF 백엔드
Comment[ku]=Binesazî ya TIFF ji bo Okular
Comment[lt]=TIFF programinė sąsaja, skirta Okular
Comment[lv]=TIFF Okular aizmugure
Comment[mr]=ओक्युलर करिता TIFF बॅकएन्ड
Comment[nb]=TIFF-motor for Okular
Comment[nds]=TIFF-Hülpprogramm för Okular
Comment[nl]=TIFF-backend voor Okular
Comment[nn]=TIFF-motor for Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ TIFF ਬੈਕਐਂਡ
Comment[pl]=Obsługa TIFF dla Okulara
Comment[pt]=Infra-estrutura de TIFF para o Okular
Comment[pt_BR]=Infraestrutura TIFF para o Okular
Comment[ro]=Platformă TIFF pentru Okular
Comment[ru]=Модуль поддержки формата TIFF для Okular
Comment[sk]=Backend TIFF pre Okular
Comment[sl]=Zaledje za TIFF za Okular
Comment[sq]=Mbështetje TIFF për Okular
Comment[sr]=Позадина ТИФФ‑а за Окулар
Comment[sr@ijekavian]=Позадина ТИФФ‑а за Окулар
Comment[sr@ijekavianlatin]=Pozadina TIFF‑a za Okular
Comment[sr@latin]=Pozadina TIFF‑a za Okular
Comment[sv]=TIFF-gränssnitt för Okular
Comment[th]=แบ็กเอนด์จัดการแฟ้ม TIFF สำหรับโอกูลาร์
Comment[tr]=Okular için TIFF arka ucu
Comment[uk]=Додаток TIFF для Okular
Comment[x-test]=xxTIFF backend for Okularxx
Comment[zh_CN]=Okular 的 TIFF 格式后端
Comment[zh_TW]=Okular TIFF 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=image/tiff;
X-KDE-Library=okularGenerator_tiff
X-KDE-Priority=4
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
