[Desktop Entry]
Type=Service
Name=Okular TIFF Library
Name[bg]=Библиотека okular TIFF
Name[ca]=Biblioteca TIFF de l'okular
Name[de]=TIFF-Bibliothek
Name[el]=Βιβλιοθήκη TIFF του okular
Name[eo]=okular TIFF biblioteko
Name[es]=Biblioteca TIFF de Okular
Name[et]=Okulari TIFF-i teek
Name[fi]=okular TIFF-kirjasto
Name[fr]=Librairie d'okular pour le format TIFF
Name[ga]=Leabharlann TIFF okular
Name[gl]=Biblioteca TIFF de okular
Name[hi]=ऑकुलर टिफ़ लाइब्रेरी
Name[is]=Okular TIFF skráasafn
Name[it]=Libreria TIFF di okular
Name[ja]=okular TIFF ライブラリ
Name[km]=បណ្ណាល័យ okular TIFF
Name[ko]=okular TIFF 라이브러리
Name[lv]=okular TIFF bibliotēka
Name[nds]=TIFF-Bibliotheek för Okular
Name[ne]=ओकुलर टिफ लाइब्रेरी
Name[nl]=Okular TIFF-bibliotheek
Name[pa]=ਓਕੁਲਾਰ TIFF ਲਾਇਬਰੇਰੀ
Name[pl]=Biblioteka TIFF okulara
Name[pt]=Biblioteca de TIFF do okular
Name[pt_BR]=Biblioteca TIFF para okular
Name[sl]=Okularjeva knjižnica za TIFF
Name[sv]=Okular TIFF-bibliotek
Name[vi]=Thư viện TIFF của okular
Name[x-test]=xxokular TIFF Libraryxx
Name[zh_CN]=okular TIFF 库
Name[zh_TW]=okular TIFF 函式庫
Comment=TIFF backend for Okular
Comment[bg]=TIFF backend за okular
Comment[ca]=Dorsal de TIFF per l'okular
Comment[de]=Unterstützung für TIFF in Okular
Comment[el]=Σύστημα υποστήριξης TIFF για το okular
Comment[eo]=TIFF interno por okular
Comment[es]=Motor TIFF para Okular
Comment[et]=Okulari TIFF-i taustaprogramm
Comment[fi]=TIFF-taustaosa ohjelmaa okular varten
Comment[fr]=Interface d'okular pour les fichiers TIFF
Comment[ga]=Inneall TIFF le haghaidh okular
Comment[gl]=Infraestrutura de TIFF para okular
Comment[hi]=ऑकुलर के लिए टिफ बैकएण्ड
Comment[is]=TIFF stuðningur fyrir Okular
Comment[it]=Backend TIFF per okular
Comment[ja]=okular の TIFF バックエンド
Comment[km]=ផ្នែក​ខាង​ក្រោយ​ TIFF សម្រាប់ okular
Comment[ko]=okular의 TIFF 백엔드
Comment[lv]=TIFF aizmugure priekš okular
Comment[nds]=TIFF-Hülpprogramm för Okular
Comment[ne]=ओकुलरका लागि टिफ ब्याकइन्ड
Comment[nl]=TIFF-backend voor Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ TIFF ਬੈਕਐਂਡ
Comment[pl]=Obsługa TIFF dla okulara
Comment[pt]=Infra-estrutura de TIFF para o okular
Comment[pt_BR]=Backend TIFF para okular
Comment[sl]=Hrbtenica za TIFF za Okular
Comment[sv]=TIFF-gränssnitt för Okular
Comment[vi]=Hỗ trợ đọc tập tin TIFF cho okular
Comment[x-test]=xxTIFF backend for okularxx
Comment[zh_CN]=okular 的 TIFF 格式后端
Comment[zh_TW]=okular TIFF 後端
X-KDE-ServiceTypes=okular/Generator
MimeType=image/tiff;
X-KDE-Library=okularGenerator_tiff
X-KDE-Priority=4
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
