[Desktop Entry]
Icon=graphics-viewer-document
Name=okular
Name[da]=Okular
Name[de]=Okular
Name[es]=Okular
Name[hi]=ऑकुलर
Name[nds]=Okular
Name[ne]=ओकुलर
Name[nl]=Okular
Name[nn]=Okular
Name[pa]=ਓਕੁਲਾਰ
Name[pt_BR]=Okular
Name[sv]=Okular
Name[x-test]=xxokularxx
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=okularpart
Type=Service
MimeType=image/tiff;
