[Desktop Entry]
Type=Service
Name=Mobipocket document
Name[de]=Mobipocket-Dokument
Name[el]=Έγγραφο Mobipocket
Name[es]=Documento Mobipocket
Name[et]=Mobipocketi dokument
Name[ga]=Cáipéis Mobipocket
Name[is]=Mobipocket skjal
Name[ja]=Mobipocket 文書
Name[ko]=Mobipocket 문서
Name[nb]=Mobipocket-dokument
Name[nds]=Mobipocket-Dokment
Name[pt]=Documento do Mobipocket
Name[pt_BR]=Documento Mobipocket
Name[sv]=Mobipocket-dokument
Name[uk]=Документ Mobipocket
Name[x-test]=xxMobipocket documentxx
Name[zh_CN]=Mobipocket 文档
Name[zh_TW]=Mobipocket 文件
Comment=Mobipocket backend for Okular
Comment[de]=Ein Anzeigemodul für Mobipocket-Dateien in Okular
Comment[el]=Σύστημα υποστήριξης Mobipocket για το Okular
Comment[es]=Motor Mobipocket para Okular
Comment[et]=Okulari Mobipocketi taustaprogramm
Comment[ga]=Inneall Mobipocket le haghaidh Okular
Comment[is]=Mobipocket stuðningur fyrir Okular
Comment[ja]=Okular の Mobipocket 用バックエンド
Comment[ko]=Okular의 Mobipocket 백엔드
Comment[nb]=Mobipocket-motor for okular
Comment[nds]=Mobipocket-Hülppropgramm för Okular
Comment[pt]=Infra-estrutura do Mobipocket para o Okular
Comment[pt_BR]=Infraestrutura Mobipocket para o Okular
Comment[sv]=Mobipocket-gränssnitt för Okular
Comment[uk]=Сервер Mobipocket для Okular
Comment[x-test]=xxMobipocket backend for Okularxx
Comment[zh_CN]=Okular 的 Mobipocket 格式后端
Comment[zh_TW]=Okular 的 Mobipocket 後端介面
X-KDE-ServiceTypes=okular/Generator
MimeType=application/x-mobipocket-ebook;
X-KDE-Library=okularGenerator_mobi
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
