[Desktop Entry]
Type=Service
Name=Mobipocket document
Name[es]=Documento Mobipocket
Name[ga]=Cáipéis Mobipocket
Name[nds]=Mobipocket-Dokment
Name[pt]=Documento do Mobipocket
Name[pt_BR]=Documento Mobipocket
Name[sv]=Mobipocket-dokument
Name[uk]=Документ Mobipocket
Name[zh_TW]=Mobipocket 文件
Comment=Mobipocket backend for Okular
Comment[es]=Motor Mobipocket para Okular
Comment[ga]=Inneall Mobipocket le haghaidh Okular
Comment[nds]=Mobipocket-Hülppropgramm för Okular
Comment[pt]=Infra-estrutura do Mobipocket para o Okular
Comment[pt_BR]=Infraestrutura Mobipocket para o Okular
Comment[sv]=Mobipocket-gränssnitt för Okular
Comment[uk]=Сервер Mobipocket для Okular
Comment[zh_TW]=Okular 的 Mobipocket 後端介面
X-KDE-ServiceTypes=okular/Generator
MimeType=application/x-mobipocket-ebook;
X-KDE-Library=okularGenerator_mobi
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
