[Desktop Entry]
Type=Service
Name=Mobipocket document
Name[ar]=مستند Mobipocket
Name[ca]=Document Mobipocket
Name[cs]=Mobipocket dokument
Name[da]=Mobipocket-dokument
Name[de]=Mobipocket-Dokument
Name[el]=Έγγραφο Mobipocket
Name[es]=Documento Mobipocket
Name[et]=Mobipocketi dokument
Name[eu]=Mobipocket dokumentua
Name[fr]=Document Mobipocket
Name[ga]=Cáipéis Mobipocket
Name[gl]=Documento Mobipocket
Name[hu]=Mobipocket-dokumentum
Name[is]=Mobipocket skjal
Name[it]=Documento Mobipocket
Name[ja]=Mobipocket 文書
Name[km]=ឯកសារ Mobipocket
Name[ko]=Mobipocket 문서
Name[lt]=Mobipocket dokumentas
Name[lv]=Mobipocket dokuments
Name[nb]=Mobipocket-dokument
Name[nds]=Mobipocket-Dokment
Name[nl]=Mobipocket-document
Name[nn]=Mobipocket-dokument
Name[pa]=ਮੋਬਾਪਾਕਟ ਡੌਕੂਮੈਂਟ
Name[pt]=Documento do Mobipocket
Name[pt_BR]=Documento Mobipocket
Name[ru]=Документ Mobipocket
Name[sl]=Dokument Mobipocket
Name[sr]=Мобипокет
Name[sr@latin]=Mobipocket
Name[sv]=Mobipocket-dokument
Name[tr]=Mobipocket belgesi
Name[uk]=Документ Mobipocket
Name[x-test]=xxMobipocket documentxx
Name[zh_CN]=Mobipocket 文档
Name[zh_TW]=Mobipocket 文件
Comment=Mobipocket backend for Okular
Comment[ar]=خلفية Mobipocket لأوكلار
Comment[ca]=Dorsal de Mobipocket per a l'Okular
Comment[da]=Mobipocket-motor til Okular
Comment[de]=Ein Anzeigemodul für Mobipocket-Dateien in Okular
Comment[el]=Σύστημα υποστήριξης Mobipocket για το Okular
Comment[es]=Motor Mobipocket para Okular
Comment[et]=Okulari Mobipocketi taustaprogramm
Comment[eu]=Okular-en Mobipocket motorra
Comment[fr]=Interface d'Okular pour le format Mobipocket
Comment[ga]=Inneall Mobipocket le haghaidh Okular
Comment[gl]=Infraestrutura de Mobipocket para Okular
Comment[hu]=Mobipocket-bővítmény az Okularhoz
Comment[is]=Mobipocket stuðningur fyrir Okular
Comment[it]=Backend Mobipocket per Okular
Comment[ja]=Okular の Mobipocket 用バックエンド
Comment[km]=កម្មវិធី​ខាងក្រោយ​សម្រាប់ Mobipocket សម្រាប់ Okular
Comment[ko]=Okular의 Mobipocket 백엔드
Comment[lt]=Mobipocket programinė sąsaja, skirta Okular
Comment[lv]=Mobipocket Okular aizmugure
Comment[nb]=Mobipocket-motor for okular
Comment[nds]=Mobipocket-Hülppropgramm för Okular
Comment[nl]=Mobipocket-backend voor Okular
Comment[nn]=Mobipocket-motor for Okular
Comment[pa]=ਓਕੁਲਾਰ ਲਈ ਮੋਬਾਪਾਕਟ ਬੈਕਐਂਡ
Comment[pt]=Infra-estrutura do Mobipocket para o Okular
Comment[pt_BR]=Infraestrutura Mobipocket para o Okular
Comment[ru]=Модуль поддержки формата Mobipocket для Okular
Comment[sl]=Hrbtenica za Mobipocket Okular
Comment[sr]=Позадина Мобипокета за Окулар
Comment[sr@latin]=Pozadina Mobipocketa za Okular
Comment[sv]=Mobipocket-gränssnitt för Okular
Comment[tr]=Okular için Mobipocket arka ucu
Comment[uk]=Сервер Mobipocket для Okular
Comment[x-test]=xxMobipocket backend for Okularxx
Comment[zh_CN]=Okular 的 Mobipocket 格式后端
Comment[zh_TW]=Okular 的 Mobipocket 後端介面
X-KDE-ServiceTypes=okular/Generator
MimeType=application/x-mobipocket-ebook;
X-KDE-Library=okularGenerator_mobi
X-KDE-Priority=1
X-KDE-okularAPIVersion=1
X-KDE-okularHasInternalSettings=false
