[Desktop Entry]
Icon=okular
Name=Okular
Name[x-test]=xxOkularxx
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=okularpart
Type=Service
MimeType=application/x-mobipocket-ebook;
